<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ambience" type="Gallio.Ambience.AmbienceSectionHandler, Gallio.Ambience" />
  </configSections>

  <ambience>
    <defaultClient hostName="localhost" port="65436" userName="Test" password="Password" />
  </ambience>
</configuration>
