<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="binFolder" FileSource="$(var.GallioTargetDir)\bin\">
            <Directory Id="Navigator" Name="Navigator">
                <Component Id="Navigator.Gallio.VisualStudio.Interop.dll" Guid="{D6CDDB34-A334-490b-AFF1-29D572830CCC}" Win64="no">
                    <File Id="Navigator.Gallio.VisualStudio.Interop.dll" Name="Gallio.VisualStudio.Interop.dll" KeyPath="yes" 
                          Assembly=".net" AssemblyApplication="Gallio.Navigator.exe" />
                </Component>
		
                <Component Id="Gallio.Navigator.exe" Guid="{AF22A32E-D8AA-40a2-8E14-07A70C52F46F}" Win64="no">
                    <File Name="Gallio.Navigator.exe" KeyPath="yes" Assembly=".net" AssemblyApplication="Gallio.Navigator.exe" />
                </Component>
		
                <Component Id="Navigator.Readme.txt" Guid="{AA7095B2-D4F7-480a-ADCD-DE5B46C10BA2}" Win64="no">
                    <File Id="Navigator.Readme.txt" Name="Readme.txt" KeyPath="yes" />
                </Component>
            </Directory>
        </DirectoryRef>

        <Feature Id='feat_Navigator' Title='Browser Integration' Level='1' AllowAdvertise="no"
            Description='Provides integration with Internet Explorer and Firefox to enable navigation to source code from Gallio reports.'>
	    <ComponentRef Id="Navigator.Gallio.VisualStudio.Interop.dll"/>
            <ComponentRef Id="Gallio.Navigator.exe"/>
            <ComponentRef Id="Navigator.Readme.txt"/>
        </Feature>

	<!-- AssemblyRegisterComInterop is not in WiX anymore.
	     The recommended workaround is Tallow but it does not support
	     ComRegister and ComUnregister operations.  Sure we can duplicate
	     those registry keys here, but that's error-prone. -->
        <CustomAction Id="Navigator.Install" Directory='INSTALLDIR' ExeCommand='"[WindowsFolder]Microsoft.NET\Framework\v2.0.50727\regasm.exe" "[#Gallio.Navigator.exe]" /codebase' Execute="deferred" Return="check" Impersonate="no"/>
        <CustomAction Id="Navigator.Uninstall" Directory='INSTALLDIR' ExeCommand='"[WindowsFolder]Microsoft.NET\Framework\v2.0.50727\regasm.exe" /unregister "[#Gallio.Navigator.exe]"' Execute="deferred" Return="ignore" Impersonate="no"/>

        <InstallExecuteSequence>
            <Custom Action="Navigator.Install" After="InstallFiles"><![CDATA[(&feat_Navigator = 3) AND NOT(!feat_Navigator = 3)]]></Custom>
            <Custom Action="Navigator.Uninstall" Before="RemoveFiles"><![CDATA[(&feat_Navigator = 2) AND (!feat_Navigator = 3)]]></Custom>
        </InstallExecuteSequence>

        <UI>
            <ProgressText Action="Navigator.Install" Template="[1]">Registering Gallio Navigator components ...</ProgressText>
            <ProgressText Action="Navigator.Uninstall" Template="[1]">Unregistering Gallio Navigator components ...</ProgressText>
        </UI>
    </Fragment>
</Wix>
