<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <?include ..\..\Installer\Common.wxi ?>

<?ifdef FEATURE_AMBIENCE ?>
    <Fragment>
        <Property Id="GALLIO.AMBIENCE.STARTMODE" Value="Manual" Admin="yes" />

        <DirectoryRef Id="binFolder" FileSource="$(var.GallioTargetDir)\bin\">
            <Component Id="Gallio.Ambience.dll" Guid="{0CEA0DD8-D3BA-45f3-B607-7914A27D4967}" Win64="$(var.Win64Binary)">
                <File Name="Gallio.Ambience.dll" KeyPath="yes" />
                <File Name="Gallio.Ambience.xml" />
                <File Name="Gallio.Ambience.plugin" />

                <CreateFolder Directory="GallioAmbienceCommonAppDataFolder">
                  <Permission User="Administrators" GenericAll="yes" />
                  <Permission User="NT AUTHORITY\NetworkService" GenericRead="yes" GenericWrite="yes" />
                </CreateFolder>
            </Component>

            <Component Id="Gallio.Ambience.UI.dll" Guid="{069BABDC-0960-497d-BADA-370D995D03DD}" Win64="$(var.Win64Binary)">
                <File Name="Gallio.Ambience.UI.dll" KeyPath="yes" />
                <File Name="Gallio.Ambience.UI.plugin" />
            </Component>

            <Component Id="Gallio.Ambience.Server.exe" Guid="{AA41B9E3-8C18-4615-81CA-8A932B0783EA}" Win64="$(var.Win64Binary)" Transitive="yes">
                <File Id="Gallio.Ambience.Server.exe" Name="Gallio.Ambience.Server.exe" KeyPath="yes" />
                <File Id="Gallio.Ambience.Server.exe.config" Name="Gallio.Ambience.Server.exe.config" />

                <ServiceInstall Id="svc_Gallio.Ambience.Service"
                     Name="Gallio.Ambience"
                     DisplayName="Gallio Ambience database server"
                     Type="ownProcess"
                     Start="demand"
                     ErrorControl="normal"
                     Description="Stores persistent data shared across test runs."
                     Account="NT AUTHORITY\NetworkService" />

                <ServiceControl Id="Gallio.Ambience.ServiceControl" Name="Gallio.Ambience" Stop="both" Remove="uninstall" Wait="yes" />
            </Component>            
        </DirectoryRef>

        <DirectoryRef Id="licensesFolder" FileSource="$(var.GallioTargetDir)\licenses\">
          <Component Id="Mono.GetOptions.License" Guid="{6FB09898-AABD-4d41-B786-97787CC1752B}" Win64="$(var.Win64Binary)">
            <File Id="Mono.GetOptions.license.html" Name="Mono.GetOptions.license.html" KeyPath="yes" />
          </Component>
          <Component Id="Cecil.FlowAnalysis.License" Guid="{D9E6E5A9-6094-415c-848B-A023CFDC9C45}" Win64="$(var.Win64Binary)">
            <File Id="Cecil.FlowAnalysis.license.html" Name="Cecil.FlowAnalysis.license.html" KeyPath="yes" />
          </Component>
          <Component Id="db4o.License" Guid="{FAC35C3D-4C6B-47c7-9702-718FE5BBFB30}" Win64="$(var.Win64Binary)">
            <File Id="db4o.license.html" Name="db4o.license.html" KeyPath="yes" />
          </Component>
        </DirectoryRef>

        <DirectoryRef Id="GallioCommonAppDataFolder">
            <Directory Id="GallioAmbienceCommonAppDataFolder" Name="Gallio.Ambience" />
        </DirectoryRef>
        
        <Feature Id="feat_Gallio.Ambience" Title="Ambience" Level="100" AllowAdvertise="no"
            Description="Installs the Ambience database client and server.  Stores persistent data shared across test runs.">

            <ComponentRef Id="Gallio.Ambience.dll" />
            <ComponentRef Id="Gallio.Ambience.UI.dll" />
            <ComponentRef Id="Gallio.Ambience.Server.exe" />
          
            <ComponentRef Id="Mono.GetOptions.License" />
            <ComponentRef Id="Cecil.FlowAnalysis.License" />
            <ComponentRef Id="db4o.License" />
        </Feature>
    </Fragment>
<?endif?>
</Wix>
