<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="binFolder" FileSource="$(var.GallioTargetDir)\bin\">
            <Component Id="Gallio.NAntTasks" Guid="521559b4-9925-4420-be87-5142705be635" Win64="no">
                <File Id="Gallio.NAntTasks.dll" KeyPath="yes" />
                <File Id="Gallio.NAntTasks.xml" />
            </Component>
        </DirectoryRef>
        <Feature Id="feat_Gallio.NAntTasks" Title="NAnt Tasks" Level="1" AllowAdvertise="no"
                 Description="Installs the NAnt tasks.">
            <ComponentRef Id="Gallio.NAntTasks"/>
        </Feature>
    </Fragment>
</Wix>
