<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <!-- indicates wheter Pex was installed -->
        <Property Id="PEX_INSTALLDIR" Secure="yes">
            <RegistrySearch Id="PexConsoleSearch" Root="HKLM" Key="Software\Microsoft\Pex\CurrentVersion" Name="InstallPath" Type="raw" />
        </Property>

        <DirectoryRef Id="binFolder">
            <Component Id="MbUnit.Pex.dll" Guid="bfc40e70-ddcd-4d3a-b823-d81a5731b8a8">
                <File Id="MbUnit.Pex.dll" Name="MbUnit.Pex.dll" Source="$(var.TargetDir)\bin\MbUnit.Pex.dll" KeyPath="yes" />
            </Component>
        </DirectoryRef>

        <Feature Id='feat_PexAdapter' Title='MbUnit v3 Pex' Level='2'
            Description='Installs the MbUnit v3 Pex package.'>
            <Condition Level="1">PEX_INSTALLDIR</Condition>
            <ComponentRef Id="MbUnit.Pex.dll"/>
        </Feature>
    </Fragment>
</Wix>
