<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <?include ..\..\Installer.Wix\Features.wxi ?>
    
    <Fragment>
<?ifdef FEATURE_MBUNIT_PEX ?>
        <DirectoryRef Id="binFolder" FileSource="$(var.GallioTargetDir)\bin\">
            <Component Id="MbUnit.Pex.dll" Guid="bfc40e70-ddcd-4d3a-b823-d81a5731b8a8" Win64="no">
                <File Id="MbUnit.Pex.dll" Name="MbUnit.Pex.dll" KeyPath="yes" />
            </Component>
        </DirectoryRef>

        <Feature Id='feat_PexAdapter' Title='MbUnit v3 Pex' Level='100' AllowAdvertise="no"
            Description='Installs the MbUnit v3 Pex package.  Requires a compatible version of Pex to be installed separately.'>
            <ComponentRef Id="MbUnit.Pex.dll"/>
        </Feature>
<?endif?>
    </Fragment>
</Wix>
