<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="binFolder">
            <Directory Id="NCover2" Name="NCover">
                <Directory Id="NCoverIntegration2" Name="v2">
                    <Component Id="Gallio.NCoverIntegration2.dll" Guid="E801F94C-0C8C-489d-B9EB-86F710C98B83" Win64="no">
                         <File Id="Gallio.NCoverIntegration2.dll" Source="$(var.GallioTargetDir)\bin\NCover\v2\Gallio.NCoverIntegration2.dll" KeyPath="yes" />
                         <File Id="Gallio.NCoverIntegration2.plugin" Source="$(var.GallioTargetDir)\bin\NCover\v2\Gallio.NCoverIntegration2.plugin" />
                    </Component>
                </Directory>
            </Directory>
        </DirectoryRef>

        <Feature Id='feat_NCoverIntegration2' Title='NCover v2 Integration' Level='1'
            Description='Provides integration with the NCover v2 code coverage tool (which must be installed separately).'>
            <ComponentRef Id="Gallio.NCoverIntegration2.dll"/>
        </Feature>
    </Fragment>
</Wix>
