<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <?include ..\..\Installer.Wix\Features.wxi ?>

    <Fragment>
<?ifdef FEATURE_AUTOCAD ?>
        <DirectoryRef Id="binFolder" FileSource="$(var.GallioTargetDir)\bin\">
            <Directory Id="AutoCAD" Name="AutoCAD">
              <Component Id="Gallio.AutoCAD.dll" Guid="4f9c795d-50fa-4710-bd9e-6d11c771e9a7" Win64="no">
                  <File Name="Gallio.AutoCAD.dll" KeyPath="yes" />
              </Component>
              <Component Id="Gallio.AutoCAD.plugin" Guid="3c258bc9-05f5-41a4-b0a1-f848ecc529f4" Win64="no">
                  <File Name="Gallio.AutoCAD.plugin" KeyPath="yes" />
              </Component>
              <Component Id="Gallio.AutoCAD.Plugin.dll" Guid="9c467029-0caa-4138-862c-f09a1839698b" Win64="no">
                  <File Name="Gallio.AutoCAD.Plugin.dll" KeyPath="yes" />
              </Component>
              <Component Id="objectarx_license.doc" Guid="4dff01ff-d88d-48b6-b7d6-c735e96723c4" Win64="no">
                  <File Name="objectarx_license.doc" KeyPath="yes" />
              </Component>
            </Directory>
        </DirectoryRef>
        <Feature Id="feat_Gallio.AutoCAD" Title="AutoCAD Integration" Level="1" AllowAdvertise="no"
                 Description="Installs the AutoCAD integration features.">
            <ComponentRef Id="Gallio.AutoCAD.dll" />
            <ComponentRef Id="Gallio.AutoCAD.plugin" />
            <ComponentRef Id="Gallio.AutoCAD.Plugin.dll" />
            <ComponentRef Id="objectarx_license.doc" />
        </Feature>
<?endif?>
    </Fragment>
</Wix>
