<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <!-- TODO: What if we install to the default MsBuild Extention path?
            C:\Program Files\MSBuild\Gallio\v3.0\Gallio.targets
            C:\Program Files\MSBuild\Gallio\v3.0\Gallio.MsBuildTasks.dll
            Need to write a Gallio.targets file for this to be useful.
         -->

        <DirectoryRef Id="binFolder" FileSource="$(var.GallioTargetDir)\bin\">
            <Component Id="Gallio.MsBuildTasks" Guid="d5e560bd-3a27-431b-84a0-df0663e2f3e6" Win64="no">
                <File Name="Gallio.MsBuildTasks.dll" KeyPath="yes" />
                <File Name="Gallio.MsBuildTasks.xml" />
		<File Name="Gallio.MsBuildTasks.plugin" />
            </Component>
        </DirectoryRef>
        <Feature Id="feat_Gallio.MsBuildTasks" Title="MSBuild Tasks" Level="1" AllowAdvertise="no"
                 Description="Installs the MSBuild tasks.">
            <ComponentRef Id="Gallio.MsBuildTasks"/>
        </Feature>
    </Fragment>
</Wix>
