<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:vs="http://schemas.microsoft.com/wix/VSExtension">
    <Fragment>
        <!-- Note: Beginning with v3.0.7, the runners are registered by the Setup utility command. -->

        <DirectoryRef Id="binFolder" FileSource="$(var.GallioTargetDir)\bin\">
            <Directory Id="TDNet" Name="TDNet">
                <Component Id="Gallio.TDNetRunner" Guid="9fc40e70-ddcd-4d3a-b823-d81a5731b8a8" Win64="no">
                    <File Name="Gallio.TDNetRunner.dll" KeyPath="yes"
                          Assembly=".net" AssemblyApplication="Gallio.TDNetRunner.dll" />
                    <File Name="Gallio.TDNetRunner.plugin"/>
                </Component>
                <Component Id="Gallio.TDNetRunner.UI" Guid="{858EBABB-D4A7-4fb9-869A-9C9676CB324E}" Win64="no">
                    <File Name="Gallio.TDNetRunner.UI.dll" KeyPath="yes"
                          Assembly=".net" AssemblyApplication="Gallio.TDNetRunner.UI.dll" />
                    <File Name="Gallio.TDNetRunner.UI.plugin" />
                </Component>

		<Directory Id="TDNet.Resources" Name="Resources">
		    <Component Id="TDNet.Resources" Guid="{8DDAEC10-F8F6-45c4-B27B-DB00DAB254C4}" Win64="no">
		        <File Name="TestDriven.ico" KeyPath="yes" />
		    </Component>
		</Directory>
            </Directory>
        </DirectoryRef>

        <Feature Id='feat_Gallio.TDNet' Title='TestDriven.Net Runner' Level='1' AllowAdvertise='no'
                 Description='Installs the TestDriven.Net add-in.  TestDriven.Net itself must be downloaded and installed separately.'>
            <ComponentRef Id='Gallio.TDNetRunner'/>
            <ComponentRef Id='Gallio.TDNetRunner.UI'/>
            <ComponentRef Id='TDNet.Resources'/>
        </Feature>
    </Fragment>
</Wix>
