<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:vs="http://schemas.microsoft.com/wix/VSExtension">
    <Fragment>

        <!-- TODO: Each TDNet runner should only be installed if the associated runner has been installed. -->

        <PropertyRef Id='VS90DEVENV'/>

        <Property Id="TDNET_INSTALLDIR">
            <RegistrySearch Id='TDNet.InstallDir' Type="raw" Win64="no"
                Root='HKLM' Key='SOFTWARE\MutantDesign\TestDriven.NET' Name='InstallDir' />
        </Property>

        <DirectoryRef Id="binFolder">
            <Component Id="Gallio.TDNetRunner.dll" Guid="9fc40e70-ddcd-4d3a-b823-d81a5731b8a8" Win64="no">
                <File Id="Gallio.TDNetRunner.dll" Source="$(var.GallioTargetDir)\bin\Gallio.TDNetRunner.dll" KeyPath="yes"
                      Assembly=".net" AssemblyApplication="Gallio.TDNetRunner.dll" />
            </Component>

            <Component Id="TDNetApp.Icarus" Guid="0ebd2ab6-3341-4d25-a249-0af80fa32913" Win64="no">
                <RegistryKey Action="createAndRemoveOnUninstall"
                    Root="HKLM" Key="SOFTWARE\MutantDesign\TestDriven.NET\TestRunners\Gallio_Icarus">
                    <RegistryValue Type='string' Name='Application' Value='[#Gallio.Icarus.exe]'/>
                </RegistryKey>
            </Component>

            <Component Id="TDNetRunner.CSUnit" Guid="69886d58-7ce0-4710-982a-5d8c6f9d66d2" Win64="no">
                <RegistryKey Action="createAndRemoveOnUninstall"
                    Root='HKLM' Key='SOFTWARE\MutantDesign\TestDriven.NET\TestRunners\Gallio_CSUnit'>
                    <RegistryValue Type='string' Value='20'/>
                    <RegistryValue Type='string' Name='AssemblyPath' Value='[#Gallio.TDNetRunner.dll]'/>
                    <RegistryValue Type='string' Name='TypeName' Value='Gallio.TDNetRunner.GallioTestRunner'/>
                    <RegistryValue Type='string' Name='TargetFrameworkAssemblyName' Value='csUnit'/>
                </RegistryKey>
            </Component>

            <Component Id="TDNetRunner.MbUnit_v3" Guid="315d8ad7-920c-4d75-907c-2f33501b5b86" Win64="no">
                <RegistryKey Action="createAndRemoveOnUninstall"
                    Root='HKLM' Key='SOFTWARE\MutantDesign\TestDriven.NET\TestRunners\Gallio_MbUnit'>
                    <RegistryValue Type='string' Value='10'/>
                    <RegistryValue Type='string' Name='AssemblyPath' Value='[#Gallio.TDNetRunner.dll]'/>
                    <RegistryValue Type='string' Name='TypeName' Value='Gallio.TDNetRunner.GallioTestRunner'/>
                    <RegistryValue Type='string' Name='TargetFrameworkAssemblyName' Value='MbUnit'/>
                </RegistryKey>
            </Component>

            <Component Id="TDNetRunner.MbUnit_v2" Guid="5be9bc6d-2852-443a-8d10-a390c313b107" Win64="no">
                <RegistryKey Action="createAndRemoveOnUninstall"
                    Root="HKLM" Key="SOFTWARE\MutantDesign\TestDriven.NET\TestRunners\Gallio_MbUnit2">
                    <RegistryValue Type='string' Value='5'/>
                    <RegistryValue Type='string' Name='AssemblyPath' Value='[#Gallio.TDNetRunner.dll]'/>
                    <RegistryValue Type='string' Name='TypeName' Value='Gallio.TDNetRunner.GallioTestRunner'/>
                    <RegistryValue Type='string' Name='TargetFrameworkAssemblyName' Value='MbUnit.Framework'/>
                </RegistryKey>
            </Component>

            <Component Id="TDNetRunner.MSTest" Guid="7b5e80c3-6396-4c6d-a18b-ed884c3d98d7" Win64="no">
                <RegistryKey Action="createAndRemoveOnUninstall"
                    Root="HKLM" Key="SOFTWARE\MutantDesign\TestDriven.NET\TestRunners\Gallio_MSTest">
                    <RegistryValue Type='string' Value='5'/>
                    <RegistryValue Type='string' Name='AssemblyPath' Value='[#Gallio.TDNetRunner.dll]'/>
                    <RegistryValue Type='string' Name='TypeName' Value='Gallio.TDNetRunner.GallioTestRunner'/>
                    <RegistryValue Type='string' Name='TargetFrameworkAssemblyName' Value='Microsoft.VisualStudio.QualityTools.UnitTestFramework'/>
                </RegistryKey>
            </Component>

            <Component Id="TDNetRunner.NUnit" Guid="3765c084-ef3f-46bb-b47a-b4cb9d1afaf5" Win64="no">
                <RegistryKey Action="createAndRemoveOnUninstall"
                    Root="HKLM" Key="SOFTWARE\MutantDesign\TestDriven.NET\TestRunners\Gallio_NUnit">
                    <RegistryValue Type='string' Value='20'/>
                    <RegistryValue Type='string' Name='AssemblyPath' Value='[#Gallio.TDNetRunner.dll]'/>
                    <RegistryValue Type='string' Name='TypeName' Value='Gallio.TDNetRunner.GallioTestRunner'/>
                    <RegistryValue Type='string' Name='TargetFrameworkAssemblyName' Value='nunit.framework'/>
                </RegistryKey>
            </Component>

            <Component Id="TDNetRunner.Xunit" Guid="648ce21a-3f03-48c4-a7c1-1591fd76258e" Win64="no">
                <RegistryKey Action="createAndRemoveOnUninstall"
                    Root="HKLM" Key="SOFTWARE\MutantDesign\TestDriven.NET\TestRunners\Gallio_Xunit">
                    <RegistryValue Type='string' Value='20'/>
                    <RegistryValue Type='string' Name='AssemblyPath' Value='[#Gallio.TDNetRunner.dll]'/>
                    <RegistryValue Type='string' Name='TypeName' Value='Gallio.TDNetRunner.GallioTestRunner'/>
                    <RegistryValue Type='string' Name='TargetFrameworkAssemblyName' Value='xunit'/>
                </RegistryKey>
            </Component>
        </DirectoryRef>

<?if $(sys.BUILDARCH) = "x64" ?>
        <DirectoryRef Id='TARGETDIR'>
            <Component Id="TDNetRunner.CSUnit.x64" Guid="{A22F2A3D-8537-4c53-B37F-7873B09471FD}" Win64="yes">
                <RegistryKey Action="createAndRemoveOnUninstall"
                    Root='HKLM' Key='SOFTWARE\MutantDesign\TestDriven.NET\TestRunners\Gallio_CSUnit'>
                    <RegistryValue Type='string' Value='20'/>
                    <RegistryValue Type='string' Name='AssemblyPath' Value='[#Gallio.TDNetRunner.dll]'/>
                    <RegistryValue Type='string' Name='TypeName' Value='Gallio.TDNetRunner.GallioTestRunner'/>
                    <RegistryValue Type='string' Name='TargetFrameworkAssemblyName' Value='csUnit'/>
                </RegistryKey>
            </Component>

            <Component Id="TDNetRunner.MbUnit_v3.x64" Guid="{0B418286-66A5-4327-9594-07AEBB0AD662}" Win64="yes">
                <RegistryKey Action="createAndRemoveOnUninstall"
                    Root='HKLM' Key='SOFTWARE\MutantDesign\TestDriven.NET\TestRunners\Gallio_MbUnit'>
                    <RegistryValue Type='string' Value='10'/>
                    <RegistryValue Type='string' Name='AssemblyPath' Value='[#Gallio.TDNetRunner.dll]'/>
                    <RegistryValue Type='string' Name='TypeName' Value='Gallio.TDNetRunner.GallioTestRunner'/>
                    <RegistryValue Type='string' Name='TargetFrameworkAssemblyName' Value='MbUnit'/>
                </RegistryKey>
            </Component>

            <Component Id="TDNetRunner.MbUnit_v2.x64" Guid="{67D8E7A9-3660-40c7-857B-4E8050D611FA}" Win64="yes">
                <RegistryKey Action="createAndRemoveOnUninstall"
                    Root="HKLM" Key="SOFTWARE\MutantDesign\TestDriven.NET\TestRunners\Gallio_MbUnit2">
                    <RegistryValue Type='string' Value='5'/>
                    <RegistryValue Type='string' Name='AssemblyPath' Value='[#Gallio.TDNetRunner.dll]'/>
                    <RegistryValue Type='string' Name='TypeName' Value='Gallio.TDNetRunner.GallioTestRunner'/>
                    <RegistryValue Type='string' Name='TargetFrameworkAssemblyName' Value='MbUnit.Framework'/>
                </RegistryKey>
            </Component>

            <Component Id="TDNetRunner.MSTest.x64" Guid="{F3BF32C5-2408-471e-900E-AB9FA62EC037}" Win64="yes">
                <RegistryKey Action="createAndRemoveOnUninstall"
                    Root="HKLM" Key="SOFTWARE\MutantDesign\TestDriven.NET\TestRunners\Gallio_MSTest">
                    <RegistryValue Type='string' Value='5'/>
                    <RegistryValue Type='string' Name='AssemblyPath' Value='[#Gallio.TDNetRunner.dll]'/>
                    <RegistryValue Type='string' Name='TypeName' Value='Gallio.TDNetRunner.GallioTestRunner'/>
                    <RegistryValue Type='string' Name='TargetFrameworkAssemblyName' Value='Microsoft.VisualStudio.QualityTools.UnitTestFramework'/>
                </RegistryKey>
            </Component>

            <Component Id="TDNetRunner.NUnit.x64" Guid="{D094BE87-9086-409e-9141-5C4D7749FBF1}" Win64="yes">
                <RegistryKey Action="createAndRemoveOnUninstall"
                    Root="HKLM" Key="SOFTWARE\MutantDesign\TestDriven.NET\TestRunners\Gallio_NUnit">
                    <RegistryValue Type='string' Value='20'/>
                    <RegistryValue Type='string' Name='AssemblyPath' Value='[#Gallio.TDNetRunner.dll]'/>
                    <RegistryValue Type='string' Name='TypeName' Value='Gallio.TDNetRunner.GallioTestRunner'/>
                    <RegistryValue Type='string' Name='TargetFrameworkAssemblyName' Value='nunit.framework'/>
                </RegistryKey>
            </Component>
            
            <Component Id="TDNetRunner.Xunit.x64" Guid="{517DDEF0-E30E-4ade-8247-BAFA048BADB6}" Win64="yes">
                <RegistryKey Action="createAndRemoveOnUninstall"
                    Root="HKLM" Key="SOFTWARE\MutantDesign\TestDriven.NET\TestRunners\Gallio_Xunit">
                    <RegistryValue Type='string' Value='20'/>
                    <RegistryValue Type='string' Name='AssemblyPath' Value='[#Gallio.TDNetRunner.dll]'/>
                    <RegistryValue Type='string' Name='TypeName' Value='Gallio.TDNetRunner.GallioTestRunner'/>
                    <RegistryValue Type='string' Name='TargetFrameworkAssemblyName' Value='xunit'/>
                </RegistryKey>
            </Component>
        </DirectoryRef>        
<?endif?>        

        <Feature Id='feat_Gallio.TDNet' Title='TestDriven.Net Runner' Level='0' AllowAdvertise='no' 
                 Description='Installs the TestDriven.Net add-in.'>
            <Condition Level='1'>TDNET_INSTALLDIR</Condition>
            <ComponentRef Id='Gallio.TDNetRunner.dll'/>
            <ComponentRef Id="TDNetApp.Icarus" />

            <Feature Id='feat_Gallio.TDNetRunner.CSUnit' Title ='csUnit' Level='1' AllowAdvertise='no'>
                <!-- TODO: <Condition Level='2'> not CSUnitAdapterInstalled </Condition> -->
                <ComponentRef Id='TDNetRunner.CSUnit'/>
<?if $(sys.BUILDARCH) = "x64" ?>
                <ComponentRef Id='TDNetRunner.CSUnit.x64'/>
<?endif?>
            </Feature>

            <Feature Id='feat_Gallio.TDNetRunner.MbUnit_v3' Title ='MbUnit v3' Level='1' AllowAdvertise='no'>
                <!-- TODO: <Condition Level='2'> not MbUnitV3AdapterInstalled </Condition> -->
                <ComponentRef Id='TDNetRunner.MbUnit_v3'/>
<?if $(sys.BUILDARCH) = "x64" ?>
                <ComponentRef Id='TDNetRunner.MbUnit_v3.x64'/>
<?endif?>
            </Feature>

            <Feature Id='feat_Gallio.TDNetRunner.MbUnit_v2' Title ='MbUnit v2' Level='1' AllowAdvertise='no'>
                <!-- TODO: <Condition Level='2'> not MbUnitV2AdapterInstalled </Condition> -->
                <ComponentRef Id='TDNetRunner.MbUnit_v2'/>
<?if $(sys.BUILDARCH) = "x64" ?>
                <ComponentRef Id='TDNetRunner.MbUnit_v2.x64'/>
<?endif?>
            </Feature>

            <Feature Id='feat_Gallio.TDNetRunner.MSTest' Title ='MSTest' Level='0' AllowAdvertise='no'>
                <Condition Level="1">VS90DEVENV</Condition>
                <ComponentRef Id='TDNetRunner.MSTest'/>            
<?if $(sys.BUILDARCH) = "x64" ?>
                <ComponentRef Id='TDNetRunner.MSTest.x64'/>
<?endif?>
            </Feature>

            <Feature Id='feat_Gallio.TDNetRunner.NUnit' Title ='NUnit' Level='1' AllowAdvertise='no'>
                <!-- TODO: <Condition Level='2'>    not NUnitAdapterInstalled </Condition> -->
                <ComponentRef Id='TDNetRunner.NUnit'/>
<?if $(sys.BUILDARCH) = "x64" ?>
                <ComponentRef Id='TDNetRunner.NUnit.x64'/>
<?endif?>
            </Feature>

            <Feature Id='feat_Gallio.TDNetRunner.Xunit' Title ='Xunit' Level='1' AllowAdvertise='no'>
                <!-- TODO: <Condition Level='2'> not XunitAdapterInstalled </Condition> -->
                <ComponentRef Id='TDNetRunner.Xunit'/>
<?if $(sys.BUILDARCH) = "x64" ?>                
                <ComponentRef Id='TDNetRunner.Xunit.x64'/>
<?endif?>
            </Feature>
        </Feature>
    </Fragment>
</Wix>
