<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLDIR">
            <Component Id="MbUnit.Website" Guid="{6F174992-5128-4c86-BEB3-7CD07C684DC1}" Win64="no">
                <File Id="MbUnit.Website.url" Source="$(var.GallioTargetDir)\MbUnit Website.url" KeyPath="yes">
                    <Shortcut Id="MbUnit.Website.lnk" Name="MbUnit Website" Directory="GallioMenuFolder" Icon="Gallio.icon.exe" IconIndex="0" Advertise="yes"/>
                </File>
            </Component>
        </DirectoryRef>

        <DirectoryRef Id="binFolder" FileSource="$(var.GallioTargetDir)\bin\">
            <Component Id="MbUnit.v3" Guid="{2f25f1f8-46ea-40f5-a850-16bac64cad1b}" Win64="no">
                <File Name="MbUnit.dll" KeyPath="yes" />
                <File Name="MbUnit.plugin" />
                <File Name="MbUnit.pdb" />
                <File Name="MbUnit.xml" />
            </Component>
            <Component Id="MbUnit35.v3" Guid="{7fa829c3-df5c-4e41-865b-54084c65c0b0}" Win64="no">
                <File Name="MbUnit35.dll" KeyPath="yes" />
                <File Name="MbUnit35.plugin" />
                <File Name="MbUnit35.pdb" />
                <File Name="MbUnit35.xml" />
            </Component>
            <Component Id="MbUnit.Compatibility.v3" Guid="{107b6248-21bd-4d8f-b20b-3101b938429f}" Win64="no">
                <File Name="MbUnit.Compatibility.dll" KeyPath="yes"/>
                <File Name="MbUnit.Compatibility.plugin" />
                <File Name="MbUnit.Compatibility.pdb" />
                <File Name="MbUnit.Compatibility.xml" />
            </Component>
        </DirectoryRef>

        <Feature Id="feat_MbUnit3" Title="MbUnit v3 Framework" Level="1"
                 Description="Installs the MbUnit v3 framework components.">
            <ComponentRef Id='MbUnit.v3'/>
            <ComponentRef Id='MbUnit35.v3'/>
            <ComponentRef Id='MbUnit.Compatibility.v3'/>
            <ComponentRef Id='MbUnit.Website'/>
            <ComponentRef Id='GallioMenuFolder.RemoveFolder'/>
        </Feature>
    </Fragment>
</Wix>
