<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <?include ..\..\Installer\Features.wxi ?>

    <Fragment>
<?ifdef FEATURE_UTILITY ?>
        <DirectoryRef Id="binFolder" FileSource="$(var.GallioTargetDir)\bin\">
            <Component Id="Gallio.Utility" Guid="{91B04D9F-3775-4a56-82B1-864CF418D265}" Win64="no">
                <File Name="Gallio.Utility.exe" KeyPath="yes" />
                <File Name="Gallio.Utility.exe.config" />
                <File Name="Gallio.Utility.plugin" />
            </Component>
        </DirectoryRef>
        
        <DirectoryRef Id="ResourcesFolder" FileSource="$(var.GallioTargetDir)\bin\Resources\">
            <Component Id="Gallio.Utility.Resources" Guid="{1FBE3AE8-0D1D-476a-9F80-FA36FDAB336B}" Win64="no">
                <File Id="Gallio.Utility.ico" Name="Gallio.Utility.ico" />
            </Component>
        </DirectoryRef>
    </Fragment>
<?endif?>
</Wix>
