<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" 
     xmlns:ps="http://schemas.microsoft.com/wix/PSExtension">
    <Fragment>
        <PropertyRef Id="POWERSHELL1.0" />
                  
        <DirectoryRef Id="binFolder" FileSource="$(var.GallioTargetDir)\bin\">
            <Component Id="Gallio.PowerShellCommands" Guid="82469f8a-b09b-4fb1-80c6-e3882fd54ffd" Win64="no">
                <File Name="Gallio.PowerShellCommands.dll" KeyPath="yes"
                      Assembly=".net"  AssemblyApplication="Gallio.PowerShellCommands.dll" >
                    <ps:SnapIn Id="Gallio" Vendor="Gallio" Description="Gallio Commands." />
                </File>
                <File Name="Gallio.PowerShellCommands.xml" />
                <File Id="Gallio.PowerShellCommands.dll.Help.xml" Name="Gallio.PowerShellCommands.dll-Help.xml" />
                <File Name="Gallio.PowerShellCommands.plugin" />
            </Component>
        </DirectoryRef>

        <Feature Id="feat_Gallio.PowerShellCommands" Title="PowerShell Commands" Level="0" AllowAdvertise="no"
                 Description="Installs the PowerShell commands.">
            <Condition Level="1">POWERSHELL1.0</Condition>
            <ComponentRef Id="Gallio.PowerShellCommands" />
        </Feature>
    </Fragment>
</Wix>
