html
{
	overflow: auto;
}

div.gallio-report, body.gallio-report
{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.gallio-report
{
	font-family: Verdana, Arial, Helvetica, Helv, sans-serif;
	font-size: 10pt;
}

.gallio-report div.header
{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	background-color: #95b0be;
	background-image: url(../img/header-background.gif);
	background-repeat: repeat-y;
	width: 100%;
	height: 60px;
}

.gallio-report div.header-image
{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	width: 100%;
	height: 60px;
	background-image: url(../img/GallioTestReportHeader.png);
	background-repeat: no-repeat;
	background-position: 0 0;
}

.gallio-report div.content
{
	width: 100%;
}

/* Generate a fixed layout when the report is the whole document */
body.gallio-report > div.header
{
	position: fixed;
	top: 0px;
	left: 0px;
}

body.gallio-report > div.content
{
	position: fixed; 
	top: 60px;
	bottom: 0px;
	overflow: auto;
}

/* Section headings */
.gallio-report h2
{
	font-size: 13pt;
	letter-spacing: 0.15em;
	color: #1f1f1f;
	padding: 0;
	margin: 0 0 3px 0;
	text-indent: 8px;
}

/* Toggle regions */
.gallio-report ul
{
	list-style-type: none;
	padding-left: 0px;
	margin: 0px 0px 0px 0px;
}

.gallio-report div.panel
{
	margin: 0px 0px 0px 24px;
}

.gallio-report img.toggle
{
	cursor: pointer;
	margin-right: 6px;
}

/* Progress bars */
.gallio-report table.progressBar
{
	display: inline;
	vertical-align: middle;
}

.gallio-report div.progressBar
{
	overflow: hidden;
	
	background-color: #DDDDDD;
	border: solid 1px #000000;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	
	height: 8px;
	width: 72px;
}

.gallio-report .progress-passed
{
	height:100%;
	float:left;
	background-color: #008000;
}

.gallio-report .progress-failed
{
	height:100%;
	float:left;
	background-color: #ff0000;
}

.gallio-report .progress-inconclusive
{
	height:100%;
	float:left;
	background-color: #ffff00;
}

.gallio-report .progress-skipped
{
	height:100%;
	float:left;
	background-color: #dddddd;
}

/* Outcome bar */
.gallio-report table.outcomeBar
{
	display: inline;
	vertical-align: middle;
}

.gallio-report div.outcomeBar
{
	overflow: hidden;
	
	border: solid 1px #000000;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	
	height: 6px;
	width: 20px;
}

.gallio-report .outcome-passed
{
	background-color: #008000;
}

.gallio-report .outcome-failed
{
	background-color: #ff0000;
}

.gallio-report .outcome-inconclusive
{
	background-color: #ffff00;
}

.gallio-report .outcome-skipped
{
	background-color: #dddddd;
}

/* Styles for test runs, including customized varieties per component kind */
.gallio-report .testStepRun
{
	margin-top: 12pt;
	font-size: 10pt;
}

.gallio-report .testStepRunHeading
{
	font-weight: bold;
	font-size: 10pt;
}

.gallio-report .testStepRunHeading-Level1
{
	font-size: 11pt;
}

.gallio-report .testStepRunHeading-Level2
{
	font-size: 10pt;
}

.gallio-report .testStepRunHeading-Level3
{
	font-size: 9pt;
}

.gallio-report .testStepRunHeading-Level4
{
	font-size: 9pt;
}

/* Styles for metadata entries */
.gallio-report .metadata
{
	margin: 5px 5px 5px 0px;
	padding: 5px 5px 5px 5px;
	
	background: #f4f4ff;
	font-size: 9pt;
}

/* Styles used for execution logs */
.gallio-report .log
{
	margin: 5px 0px 5px 0px;
}

.gallio-report .logAttachmentList
{
	font-size: 10pt;
	font-style: italic;
}

.gallio-report .logAttachmentEmbedding
{
	font-size: 10pt;
	font-style: italic;
	padding: 5px 10px 5px 10px;
}

.gallio-report .logStream
{
	background-color: #f0f0f0;
	border-bottom: solid 1px #c6c6c6;
	border-right: solid 1px #c6c6c6;
	margin: 5px 5px 5px 0px;
	padding: 5px 5px 5px 5px;
}

.gallio-report .logStreamHeading
{
	font-weight:bold;
	font-size: 9pt;
	text-decoration: underline;
}

.gallio-report .logStreamBody
{
	font-size: 10pt;
	border-style: none;
}

.gallio-report .logStreamSection
{
	margin-top: 12pt;
	margin-bottom: 12pt;
	padding-left: 6px;
	border-left: solid 3px black;
}

.gallio-report .logStreamSectionHeading
{
	font-size: 10pt;
	font-weight: bold;
	text-decoration: underline;
}

/* Styles used for coloring different named streams */
.gallio-report .logStream-Failures
{
	background-color: #ffd8d8;
	border: dotted 1px #905050;
}

.gallio-report .logStream-Warnings
{
	background-color: #ffffc8;
	border: dotted 1px #909050;
}


.gallio-report div.section
{
	background-color: #ebeaea;
	margin: 5px;
	padding: 10px;
	border-bottom: solid 1px #dcdcdc;
	border-right: solid 1px #dcdcdc;
}

.gallio-report div.section-content
{
	background-color: #fbfbfb;
	padding: 10px 10px 10px 10px;
}

.gallio-report table.statistics-table
{
	border-collapse: collapse;
}

.gallio-report table.statistics-table td
{
	width: 100%;
}

.gallio-report table.statistics-table td.statistics-label-cell
{
	font-weight: bolder;
	color: #646464;
	padding: 0px 10px 0px 10px;
	width: auto;
}

.gallio-report table.statistics-table tr.alternate-row td
{
	background-color: #f2f2f2;
}

.gallio-report span.outcome-icons
{
	font-size: 11pt;
}
