<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:vs="http://schemas.microsoft.com/wix/VSExtension"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
    <Fragment>
        <PropertyRef Id='VS2005DEVENV'/>
        <PropertyRef Id='VS90DEVENV'/>
        <PropertyRef Id='VS90_ROOT_FOLDER'/>

        <DirectoryRef Id="binFolder">
            <Directory Id="MSTestAdapter" Name="MSTest">
                <Component Id="Gallio.MSTestAdapter.dll" Guid="30F50762-6829-4020-8CC3-11D2151EF058" Win64="no">
                    <File Id="Gallio.MSTestAdapter.dll" Source="$(var.GallioTargetDir)\bin\MSTest\Gallio.MSTestAdapter.dll" KeyPath="yes" />
                    <File Id="Gallio.MSTestAdapter.plugin" Source="$(var.GallioTargetDir)\bin\MSTest\Gallio.MSTestAdapter.plugin" />
                </Component>

                <Component Id="MSTest.Readme.txt" Guid="3F8743D7-476E-4074-A8AF-FD36E440EC29" Win64="no">
                    <File Id="MSTest.Readme.txt" Source="$(var.GallioTargetDir)\bin\MSTest\Readme.txt" KeyPath="yes" />
                </Component>
            </Directory>
        </DirectoryRef>

        <Feature Id="feat_MSTestAdapter" Title="MSTest Adapter" Level="0"
	         Description="Installs the MSTest adapter.  Enables Gallio to run MSTest tests.">
            <Condition Level="1">VS2005DEVENV OR VS90DEVENV</Condition>
            <ComponentRef Id="Gallio.MSTestAdapter.dll" />
            <ComponentRef Id="MSTest.Readme.txt" />
        </Feature>
    </Fragment>
</Wix>
