<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <?include ..\..\Installer\Common.wxi ?>

    <Fragment>
        <DirectoryRef Id="binFolder" FileSource="$(var.GallioTargetDir)\bin\">
            <Directory Id="MSTestAdapter" Name="MSTest">
                <Component Id="Gallio.MSTestAdapter.dll" Guid="30F50762-6829-4020-8CC3-11D2151EF058" Win64="$(var.Win64Binary)">
                    <File Name="Gallio.MSTestAdapter.dll" KeyPath="yes" />
                    <File Name="Gallio.MSTestAdapter.plugin" />
                </Component>

                <Component Id="MSTest.Readme.txt" Guid="3F8743D7-476E-4074-A8AF-FD36E440EC29" Win64="$(var.Win64Binary)">
                    <File Id="MSTest.Readme.txt" Name="Readme.txt" KeyPath="yes" />
                </Component>
            </Directory>
        </DirectoryRef>

        <Feature Id="feat_MSTestAdapter" Title="MSTest Adapter" Level="1" AllowAdvertise="no"
	         Description="Installs the MSTest adapter.  Enables Gallio to run MSTest tests.  MSTest must be installed separately.">
            <ComponentRef Id="Gallio.MSTestAdapter.dll" />
            <ComponentRef Id="MSTest.Readme.txt" />
        </Feature>
    </Fragment>
</Wix>
