<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Gallio.NUnitAdapter.TestResources.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Gallio.NUnitAdapter.TestResources.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Gallio.NUnitAdapter.TestResources.Properties.Settings>
            <setting name="SampleUserSetting" serializeAs="String">
                <value>This is a user-level setting</value>
            </setting>
            <setting name="SampleUserSetting2" serializeAs="String">
                <value>This is another user-level setting</value>
            </setting>
        </Gallio.NUnitAdapter.TestResources.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Gallio.NUnitAdapter.TestResources.Properties.Settings>
            <setting name="SampleApplicationSetting" serializeAs="String">
                <value>This is an application-level setting</value>
            </setting>
            <setting name="SampleApplicationSetting2" serializeAs="String">
                <value>This is another application-level setting</value>
            </setting>
        </Gallio.NUnitAdapter.TestResources.Properties.Settings>
    </applicationSettings>
</configuration>