<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product
        Id="*"
        Name="Gallio $(var.Version)"
        Version="$(var.Version)"
        Manufacturer="www.gallio.org"
        UpgradeCode="{FAAF3C4B-8757-437A-A3D6-9D882DE7D088}"
        Language="1033">
        <Package
            Comments="Gallio Bundle"
            Manufacturer="www.gallio.org"
            InstallerVersion="301"
            Languages="1033"
            Compressed="yes"
            />

        <!-- Major upgrade -->
        <Upgrade Id="{FAAF3C4B-8757-437A-A3D6-9D882DE7D088}">
            <UpgradeVersion Minimum="$(var.Version)" OnlyDetect="yes" Property="NEWERVERSIONDETECTED" />
            <UpgradeVersion Minimum="0.0.0.0" IncludeMinimum="yes" Maximum="$(var.Version)" IncludeMaximum="no" Property="OLDERVERSIONBEINGUPGRADED" />
        </Upgrade>
        <Condition Message="A later version of [ProductName] is already installed.">
            NOT NEWERVERSIONDETECTED
        </Condition>
        <Condition Message="An administrator must approve or install [ProductName].">
            Privileged
        </Condition>

        <!-- The files are all packaged in a single cab file inside the msi file -->
        <Media Id="1" EmbedCab="yes" Cabinet="Gallio.cab" />

        <!-- Define the file that gets used as the EULA during install -->
        <WixVariable Id="WixUILicenseRtf" Value="Gallio.License.rtf" />

        <!-- Define which type of Wix UI we are going to use -->
        <UIRef Id="WixUI_Gallio" />

        <!-- Define all directories used in the install -->
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id='ProgramFilesFolder' Name='PFiles'>
                <Directory Id='INSTALLDIR' Name='Gallio'>
                    <Directory Id='binFolder' Name='bin'/>
                    <Directory Id='docsFolder' Name='docs'/>
                    <Directory Id='extraFolder' Name='extra'/>
                    <Directory Id='samplesFolder' Name='samples'/>
                </Directory>                
            </Directory>

            <!-- Desktop Folder Directory for our Desktop Shortcut -->
            <Directory Id="DesktopFolder" Name="Desktop" />

            <!-- Program Menu Folder and our subfolders for Shortcuts -->
            <Directory Id="ProgramMenuFolder" Name=".">
                <Directory Id="GallioMenuFolder" Name="Gallio"/>
            </Directory>
        </Directory>

        <CustomActionRef Id="VS2005Setup" />
        <CustomActionRef Id="VS90Setup" />

        <InstallExecuteSequence>
            <FindRelatedProducts Before="LaunchConditions" />
            <RemoveExistingProducts After="InstallValidate" />
            <Custom Action="VS2005Setup" Before="InstallFinalize"><![CDATA[(&feat_MSTestRunner > 1 OR &feat_MbUnit3.Templates.VS2005 > 1) AND VS2005DEVENV <> ""]]></Custom>
            <Custom Action="VS90Setup" Before="InstallFinalize"><![CDATA[(&feat_MSTestRunner > 1 OR &feat_MbUnit3.Templates.VS2008 > 1) AND VS90DEVENV <> ""]]></Custom>
        </InstallExecuteSequence>

        <InstallUISequence>
            <FindRelatedProducts Before="LaunchConditions" />
        </InstallUISequence>

        <UI>
            <ProgressText Action="VS2005Setup" Template="[1]">Updating Visual Studio 2005 registration ...</ProgressText>
            <ProgressText Action="VS90Setup" Template="[1]">Updating Visual Studio 2008 registration ...</ProgressText>
        </UI>

        <?include Features.wxi ?>

        <!-- Define the features in the bundle -->
        <FeatureRef Id='feat_Gallio'>
            <FeatureRef Id='feat_Gallio.Reports'/>
        </FeatureRef>

        <FeatureRef Id='feat_MbUnit3'>
<?ifdef FEATURE_MBUNIT_PEX ?>
            <FeatureRef Id='feat_PexAdapter'/>
<?endif?>
            <FeatureRef Id='feat_MbUnit3.Templates.VS2005'/>
            <FeatureRef Id='feat_MbUnit3.Templates.VS2008'/>
        </FeatureRef>

        <Feature Id='feat_Plugins' Title='Plugins' Level="1">
            <FeatureRef Id='feat_MbUnit2Adapter'/>
<?ifdef FEATURE_MSTEST_ADAPTER ?>
            <FeatureRef Id='feat_MSTestAdapter'/>
<?endif?>
            <FeatureRef Id='feat_NUnitAdapter'/>
            <FeatureRef Id='feat_XunitAdapter'/>
        </Feature>

        <Feature Id='feat_Runners' Title='Runners' Level="1">
            <FeatureRef Id='feat_Gallio.Echo'/>
            <FeatureRef Id='feat_Gallio.Icarus'/>
            <FeatureRef Id='feat_Gallio.MsBuildTasks'/>
            <FeatureRef Id='feat_Gallio.NAntTasks'/>
            <FeatureRef Id='feat_Gallio.PowerShellCommands'/>
<?ifdef FEATURE_RESHARPER_RUNNER_31 ?>
            <FeatureRef Id='feat_Gallio.ReSharper.V31'/>
<?endif?>
<?ifdef FEATURE_RESHARPER_RUNNER_40 ?>
            <FeatureRef Id='feat_Gallio.ReSharper.V40'/>
<?endif?>
            <FeatureRef Id='feat_Gallio.TDNet'/>
<?ifdef FEATURE_MSTEST_RUNNER ?>
            <FeatureRef Id='feat_MSTestRunner'/>
<?endif?>
        </Feature>

        <Feature Id='feat_ToolIntegration' Title='Tool Integration' Level="1">
            <FeatureRef Id='feat_NCoverIntegration'/>
<?ifdef FEATURE_NCOVER_INTEGRATION_2 ?>
            <FeatureRef Id='feat_NCoverIntegration2'/>
<?endif?>
            <FeatureRef Id='feat_TypeMockIntegration'/>
        </Feature>

        <Feature Id='feat_Docs' Title='Documentation' Level="1">
<?ifdef FEATURE_CHM_HELP ?>
            <FeatureRef Id='feat_Gallio.Help'/>
<?endif?>
<?ifdef FEATURE_VS_HELP ?>
            <FeatureRef Id='feat_Gallio.VSHelp'/>
<?endif?>
        </Feature>

        <Feature Id='feat_Extras' Title='Extras' Level="1">
            <FeatureRef Id='feat_CCNetExtensions'/>
            <FeatureRef Id='feat_MbUnit3.Samples'/>
        </Feature>

        <!-- -->
        <!-- Properties used by 'Add or Remove Programs' in Control Panel. -->
        <!-- -->

        <!-- URL for technical support. -->
        <Property Id='ARPHELPLINK'>http://www.gallio.org/</Property>

        <!-- URL for application update information. -->
        <Property Id='ARPURLUPDATEINFO'>http://www.gallio.org/</Property>

        <!-- URL for the home page of the application. -->
        <Property Id='ARPURLINFOABOUT'>http://www.gallio.org/</Property>

        <!-- Specifies the primary icon for the installation package. -->
        <Property Id="ARPPRODUCTICON" Value="GallioIcon" />
        <Icon Id="GallioIcon" SourceFile="Gallio.ico" />
               
        <!-- Detect presence of old pre-WiX Gallio installation. -->
        <Property Id="OLD_GALLIO_UNINSTALL" Secure="yes">
            <RegistrySearch Id="OldGallioInstallerSearch.LM" Type="raw"
                Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Uninstall\Gallio" Name="UninstallString" />
            <RegistrySearch Id="OldGallioInstallerSearch.CU" Type="raw"
                Root="HKCU" Key="Software\Microsoft\Windows\CurrentVersion\Uninstall\Gallio" Name="UninstallString" />
        </Property>
        <!-- MSI has difficulty executing arbitary commands picked from the registry. 
             An alternative is to prompt the users to first uninstall the previous version
             before they can continue. This should only happen once. After that, the MSI
             will auto-upgrade versions. This should not be needed once reach late beta stage.
          -->
        <Condition Message="A previous version of Gallio is installed. Please uninstall it and try again.">
            NOT OLD_GALLIO_UNINSTALL
        </Condition>

    </Product>
</Wix>
