<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:vs="http://schemas.microsoft.com/wix/VSExtension"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
    <Fragment>

        <!-- TODO: Replace H2Reg.exe with the recommended way of registering help. -->

        <Property Id="GALLIO_HOMEPAGE" Value="http://www.gallio.org/" />

        <DirectoryRef Id="INSTALLDIR">
            <Component Id="Apache.License" Guid="{66f9f954-992a-44ce-8696-082b3807d845}">
                <File Id="Apache.License.txt" Source="$(var.GallioTargetDir)\ASL - Apache Software Foundation License.txt" KeyPath="yes" />
            </Component>
            <Component Id="Gallio.License" Guid="{80dcc954-656f-45de-9bf2-bec6ff1d7c58}">
                <File Id="Gallio.License.txt" Source="$(var.GallioTargetDir)\Gallio License.txt" KeyPath="yes" />
            </Component>
            <Component Id="Gallio.Website" Guid="{32DF17D3-27D2-4b7a-8094-37A559F2B234}">
                <File Id="Gallio.Website.url" Source="$(var.GallioTargetDir)\Gallio Website.url" KeyPath="yes">
                    <Shortcut Id="Gallio.Website.lnk" Name="Gallio Website" Directory="GallioMenuFolder" Icon="Gallio.icon.exe" IconIndex="0" Advertise="yes" />
                </File>
                <RemoveFolder Id="GallioMenuFolder.Remove_GallioWebsite" Directory="GallioMenuFolder" On="uninstall" />
                <!-- TODO: Need to find a way to put an icon on this link.
                <util:InternetShortcut Id="Gallio.Website" Name="Gallio Website" Directory="GallioMenuFolder"
                    Target="http://www.gallio.org/" />
                  -->
            </Component>
            <Component Id="Gallio.Registry" Guid="{1AE1AC98-1FF2-4913-9ACA-EB8018E40508}">
                <RegistryKey Id="Gallio.RegistryKey1" Action="createAndRemoveOnUninstall"
                             Root="HKLM" Key="Software\Gallio.org\Gallio">
                    <RegistryValue Type="string" Name="CurrentVersion" Value="3.0"/>
                    <RegistryKey Key="3.0" Action="createAndRemoveOnUninstall">
                        <RegistryValue Type="string" Name="Version" Value="[ProductVersion]"/>
                        <RegistryValue Type="string" Name="InstallationFolder" Value="[INSTALLDIR]"/>
                        <RegistryKey Key="AdditionalPluginDirectories" Action="createAndRemoveOnUninstall"/>
                    </RegistryKey>
                </RegistryKey>
                <!-- Register the folder so that Visual Studio Add References can find it -->
                <RegistryKey Id="Gallio.RegistryKey2" Action="createAndRemoveOnUninstall"
                             Root="HKLM" Key="SOFTWARE\Microsoft\.NETFramework\v2.0.50727\AssemblyFoldersEx\Gallio">
                    <RegistryValue Type="string" Value="[INSTALLDIR]bin"/>
                </RegistryKey>
                <!-- Add the Gallio bin folder to the path -->
                <Environment Id="Gallio.Path" Name="Path" Value="[INSTALLDIR]bin" Action="set" Part="last" Separator=";" />
            </Component>
        </DirectoryRef>

        <DirectoryRef Id="binFolder">
            <Component Id="Gallio" Guid="{1f25f1f8-46ea-40f5-a850-16bac64cad0a}">
                <File Id="Gallio.dll" Source="$(var.GallioTargetDir)\bin\Gallio.dll" KeyPath="yes" />
                <File Id="Gallio.plugin" Source="$(var.GallioTargetDir)\bin\Gallio.plugin" />
                <File Id="Gallio.xml" Source="$(var.GallioTargetDir)\bin\Gallio.xml" />
                <File Id="Gallio.pdb" Source="$(var.GallioTargetDir)\bin\Gallio.pdb" />
            </Component>
            <Component Id="Gallio35" Guid="{015c2236-433f-45f4-86d8-88b87f7fad26}">
                <File Id="Gallio35.plugin" Source="$(var.GallioTargetDir)\bin\Gallio35.plugin" KeyPath="yes" />
                <File Id="Gallio35.dll" Source="$(var.GallioTargetDir)\bin\Gallio35.dll" />
                <File Id="Gallio35.xml" Source="$(var.GallioTargetDir)\bin\Gallio35.xml" />
                <File Id="Gallio35.pdb" Source="$(var.GallioTargetDir)\bin\Gallio35.pdb" />
            </Component>
            <Component Id="Gallio.XmlSerializers" Guid="{1F8F8C04-E8CF-478c-AD16-9D90921C71A5}">
                <File Id="Gallio.XmlSerializers.dll" Source="$(var.GallioTargetDir)\bin\Gallio.XmlSerializers.dll" KeyPath="yes" />
            </Component>
            <Component Id="Gallio.Host" Guid="{182CEF37-6885-4954-8411-CB57DA11357B}">
                <File Id="Gallio.Host.exe" Source="$(var.GallioTargetDir)\bin\Gallio.Host.exe" KeyPath="yes" />
                <File Id="Gallio.Host.exe.config" Source="$(var.GallioTargetDir)\bin\Gallio.Host.exe.config" />
            </Component>
            <Component Id="Gallio.Loader" Guid="{1b752f49-373c-4a57-8f72-eb97287d0d35}">
                <File Id="Gallio.Loader.dll" Source="$(var.GallioTargetDir)\bin\Gallio.Loader.dll" KeyPath="yes" />
            </Component>
        </DirectoryRef>

        <DirectoryRef Id="docsFolder">
            <Component Id="Gallio.chm" Guid="{37BEC1CB-8141-4793-8CFF-986AC4849EB9}">
                <File Id="Gallio.chm" Source="$(var.GallioTargetDir)\docs\Gallio.chm" KeyPath="yes">
                    <Shortcut Id="Gallio.Offline.Documentation.lnk" Name="Offline Documentation" Icon="Gallio.icon.exe" IconIndex="0" Directory="GallioMenuFolder" WorkingDirectory="docsFolder" Advertise="yes" Show="normal" />
                </File>
            </Component>
            <Directory Id="docsVsFolder" Name="vs">
                <Component Id="Gallio.Help.vs" Guid="37360bcd-0c85-4132-822e-5810371b59fa">
                    <File Id="Gallio.HxS" Source="$(var.GallioTargetDir)\docs\vs\Gallio.HxS">
                        <!-- <vs:HelpFile Id="GallioVsHelp" Name="Gallio" Language="1033" /> -->
                    </File>
                    <File Id="GallioCollection.HxC" Source="$(var.GallioTargetDir)\docs\vs\GallioCollection.HxC">
                        <!-- <vs:HelpCollection Id="GallioVsHelp.Collection" Name="GallioCollection" Description="Gallio API Documentation" /> -->
                        <!-- <vs:PlugCollectionInto ... /> -->
                    </File>
                    <File Id="GallioCollection.HxT" Source="$(var.GallioTargetDir)\docs\vs\GallioCollection.HxT" />
                    <File Id="GallioCollection_A.HxK" Source="$(var.GallioTargetDir)\docs\vs\GallioCollection_A.HxK" />
                    <File Id="GallioCollection_F.HxK" Source="$(var.GallioTargetDir)\docs\vs\GallioCollection_F.HxK" />
                    <File Id="GallioCollection_K.HxK" Source="$(var.GallioTargetDir)\docs\vs\GallioCollection_K.HxK" />
                </Component>
                <Component Id="Gallio.H2Reg.ini" Guid="7bb0227e-0dc9-4385-b97c-1b9aff6504fd">
                    <File Id="Gallio.H2Reg.ini" Source="$(var.GallioTargetDir)\docs\vs\GallioCollection.h2reg.ini" />
                </Component>
            </Directory>
        </DirectoryRef>
        <!-- <vs:HelpFilter Id="GallioCollection" Name="GallioCollection" FilterDefinition="("DocSet"="Gallio")" /> -->

        <DirectoryRef Id="extraFolder">
            <Directory Id='H2RegDir' Name='H2Reg'>
                <Component Id="H2Reg.exe" Guid="779c47b3-56ba-4efc-ab52-3b809c2f2c3b">
                    <File Id="H2Reg.exe" Source="$(sys.SOURCEFILEDIR)..\..\libs\H2Reg\H2Reg.exe" KeyPath="yes" />
                    <File Id="H2Reg.ini" Source="$(sys.SOURCEFILEDIR)..\..\libs\H2Reg\H2Reg.ini" />
                    <RemoveFile Id="H2Reg_Log.txt" Name="H2Reg_Log.txt" On="uninstall" />
                </Component>
            </Directory>
        </DirectoryRef>

        <Feature Id="feat_Gallio" Title="Gallio" Level="1" InstallDefault="local" TypicalDefault="install" Absent="disallow" Description="Installs the Gallio test automation platform." ConfigurableDirectory="INSTALLDIR">
            <ComponentRef Id="Gallio" />
            <ComponentRef Id="Gallio35" />
            <ComponentRef Id="Gallio.XmlSerializers" />
            <ComponentRef Id="Gallio.Host" />
            <ComponentRef Id="Gallio.Loader" />
            <ComponentRef Id="Gallio.License" />
            <ComponentRef Id="Gallio.Website" />
            <ComponentRef Id="Gallio.Registry" />
            <ComponentRef Id="Apache.License" />
        </Feature>

        <Feature Id="feat_Gallio.Help" Title="Standalone Help Docs" Level="1" Description="Installs the standalone help documentation CHM file.">
            <ComponentRef Id="Gallio.chm" />
        </Feature>

        <PropertyRef Id='VS2005DEVENV'/>
        <PropertyRef Id='VS90DEVENV'/>

        <Feature Id="feat_Gallio.VSHelp" Title="Visual Studio Help Docs" Level="2" Description="Installs the integrated documentation for Visual Studio 2005 and/or Visual Studio 2008. Access with F1 Help.">
            <Condition Level="1">VS2005DEVENV OR VS90DEVENV</Condition>
            <ComponentRef Id="Gallio.Help.vs" />
            <ComponentRef Id="Gallio.H2Reg.ini" />
            <ComponentRef Id="H2Reg.exe" />
        </Feature>

        <CustomAction Id="H2Reg.Install"   FileKey="H2Reg.exe" ExeCommand='-r -q CmdFile="[#Gallio.H2Reg.ini]"' Execute="deferred" Return="check" Impersonate="no"/>
        <CustomAction Id="H2Reg.Uninstall" FileKey="H2Reg.exe" ExeCommand='-u -q CmdFile="[#Gallio.H2Reg.ini]"' Execute="deferred" Return="ignore" Impersonate="no"/>

        <InstallExecuteSequence>
            <Custom Action="H2Reg.Install" After="InstallFiles"><![CDATA[(&feat_Gallio.VSHelp = 3) AND NOT(!feat_Gallio.VSHelp = 3)]]></Custom>
            <Custom Action="H2Reg.Uninstall" Before="RemoveFiles"><![CDATA[(&feat_Gallio.VSHelp = 2) AND (!feat_Gallio.VSHelp = 3)]]></Custom>
        </InstallExecuteSequence>

        <UI>
            <ProgressText Action="H2Reg.Install" Template="[1]">Installing help files into Visual Studio ...</ProgressText>
            <ProgressText Action="H2Reg.Uninstall" Template="[1]">Uninstalling help files from Visual Studio ...</ProgressText>
        </UI>
    </Fragment>
</Wix>
