<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:vs="http://schemas.microsoft.com/wix/VSExtension"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
    <?include ..\Installer.Wix\Features.wxi ?>

    <Fragment>
        <!-- TODO: Replace H2Reg.exe with the recommended way of registering help. -->
        <Property Id="GALLIO_HOMEPAGE" Value="http://www.gallio.org/" />

        <DirectoryRef Id="INSTALLDIR">
            <Component Id="Apache.License" Guid="{66f9f954-992a-44ce-8696-082b3807d845}" Win64="no">
                <File Id="Apache.License.txt" Source="$(var.GallioTargetDir)\ASL - Apache Software Foundation License.txt" KeyPath="yes" />
            </Component>
            <Component Id="Gallio.License" Guid="{80dcc954-656f-45de-9bf2-bec6ff1d7c58}" Win64="no">
                <File Id="Gallio.License.txt" Source="$(var.GallioTargetDir)\Gallio License.txt" KeyPath="yes" />
            </Component>
            <Component Id="Mono.Cecil.License" Guid="{3AF29A1B-1DD9-4994-98DC-2F7B88F99A20}" Win64="no">
                <File Id="Mono.Cecil.license.html" Source="$(var.GallioTargetDir)\Mono.Cecil.license.html" KeyPath="yes" />
            </Component>
            <Component Id="Gallio.Credits" Guid="{7EFEC8C8-CB48-41b3-818C-9CAD85DBECC1}" Win64="no">
                <File Id="Gallio.Credits.html" Source="$(var.GallioTargetDir)\Credits.html" KeyPath="yes" >
                    <Shortcut Id="Gallio.Credits.lnk" Name="Gallio Credits" Directory="GallioMenuFolder" Icon="Gallio.icon.exe" IconIndex="0" Advertise="yes" />
                </File>
            </Component>
            <Component Id="Gallio.Website" Guid="{32DF17D3-27D2-4b7a-8094-37A559F2B234}" Win64="no">
                <File Id="Gallio.Website.url" Source="$(var.GallioTargetDir)\Gallio Website.url" KeyPath="yes">
                    <Shortcut Id="Gallio.Website.lnk" Name="Gallio Website" Directory="GallioMenuFolder" Icon="Gallio.icon.exe" IconIndex="0" Advertise="yes" />
                </File>
            </Component>
            <Component Id="Gallio.Registry" Guid="{1AE1AC98-1FF2-4913-9ACA-EB8018E40508}" Win64="no">
                <RegistryKey Id="Gallio.RegistryKey1" Action="createAndRemoveOnUninstall"
                             Root="HKLM" Key="SOFTWARE\Gallio.org\Gallio">
                    <RegistryValue Type="string" Name="CurrentVersion" Value="$(var.MajorVersion).$(var.MinorVersion)"/>
                    <RegistryKey Key="$(var.MajorVersion).$(var.MinorVersion)" Action="createAndRemoveOnUninstall">
                        <RegistryValue Type="string" Name="Version" Value="[ProductVersion]"/>
                        <RegistryValue Type="string" Name="InstallationFolder" Value="[INSTALLDIR]"/>
                        <RegistryKey Key="AdditionalPluginDirectories" Action="createAndRemoveOnUninstall"/>
                    </RegistryKey>
                </RegistryKey>

                <!-- Register the folder so that Visual Studio Add References can find it -->
                <RegistryKey Id="Gallio.RegistryKey2" Action="createAndRemoveOnUninstall"
                             Root="HKLM" Key="SOFTWARE\Microsoft\.NETFramework\v2.0.50727\AssemblyFoldersEx\Gallio">
                    <RegistryValue Type="string" Value="[INSTALLDIR]bin"/>
                </RegistryKey>

                <!-- Add the Gallio bin folder to the path -->
                <Environment Id="Gallio.Path" Name="Path" Value="[INSTALLDIR]bin" Action="set" Part="last" Separator=";" />
            </Component>
        </DirectoryRef>

        <DirectoryRef Id="binFolder" FileSource="$(var.GallioTargetDir)\bin\">
            <Component Id="Gallio" Guid="{1f25f1f8-46ea-40f5-a850-16bac64cad0a}" Win64="no">
                <File Name="Gallio.dll" KeyPath="yes" />
                <File Name="Gallio.plugin" />
                <File Name="Gallio.pdb" />
                <File Name="Gallio.xml" />
                <File Id="Gallio.xsd" Name="Gallio.xsd" />
                <?ifdef NO_ILMERGE ?>
                <File Name="Mono.Cecil.dll" />
                <File Name="ICSharpCode.SharpZipLib.dll" />
                <File Name="Gallio.ReflectionShim.dll" />
                <?endif ?>
            </Component>
            <Component Id="Gallio35" Guid="{015c2236-433f-45f4-86d8-88b87f7fad26}" Win64="no">
                <File Name="Gallio35.dll" KeyPath="yes" />
                <File Name="Gallio35.plugin" />
                <File Name="Gallio35.pdb" />
                <File Name="Gallio35.xml" />
            </Component>
	    <?ifdef FEATURE_GALLIO40?>
            <Component Id="Gallio40" Guid="{830C1A43-888C-4E3B-BFC0-D59D086A4B2B}" Win64="no">
                <File Name="Gallio40.dll" KeyPath="yes" />
                <File Name="Gallio40.plugin" />
                <File Name="Gallio40.pdb" />
                <File Name="Gallio40.xml" />
            </Component>
	    <?endif?>
            <Component Id="Gallio.XmlSerializers" Guid="{1F8F8C04-E8CF-478c-AD16-9D90921C71A5}" Win64="no">
                <File Name="Gallio.XmlSerializers.dll" KeyPath="yes" />
            </Component>
            <Component Id="Gallio.Host" Guid="{182CEF37-6885-4954-8411-CB57DA11357B}" Win64="no">
                <File Name="Gallio.Host.exe" KeyPath="yes" />
                <File Name="Gallio.Host.exe.config" />
            </Component>
            <Component Id="Gallio.Host.x86" Guid="{9560EEA1-E472-4cc6-99DA-03CDCD370343}" Win64="no">
                <File Name="Gallio.Host.x86.exe" KeyPath="yes" />
                <File Name="Gallio.Host.x86.exe.config" />
            </Component>
            <Component Id="Gallio.Host.Elevated" Guid="{1E93B413-D626-4b3d-BCC1-BEB41897A492}" Win64="no">
                <File Name="Gallio.Host.Elevated.exe" KeyPath="yes" />
                <File Name="Gallio.Host.Elevated.exe.config" />
            </Component>
            <Component Id="Gallio.Host.Elevated.x86" Guid="{DF5897EC-016B-40c6-8B27-1A2E04D1A969}" Win64="no">
                <File Name="Gallio.Host.Elevated.x86.exe" KeyPath="yes" />
                <File Name="Gallio.Host.Elevated.x86.exe.config" />
            </Component>
            <Component Id="Gallio.Reports" Guid="9e17b959-1768-4a2b-b750-99821b01dd53" Win64="no">
                <File Name="Gallio.Reports.dll" KeyPath="yes" />
                <File Name="Gallio.Reports.pdb" />
                <File Name="Gallio.Reports.xml" />
                <File Name="Gallio.Reports.plugin" />
            </Component>
            <Component Id="Gallio.UI" Guid="{7CEEF55C-A9DD-4ce1-AD70-50CCEE425CE4}" Win64="no">
                <File Name="Gallio.UI.dll" KeyPath="yes" />
                <File Name="Gallio.UI.pdb" />
                <File Name="Gallio.UI.xml" />
                <File Name="Gallio.UI.plugin" />
            </Component>
            <Component Id="Gallio.Utility" Guid="{91B04D9F-3775-4a56-82B1-864CF418D265}" Win64="no">
                <File Name="Gallio.Utility.exe" KeyPath="yes" />
                <File Name="Gallio.Utility.exe.config" />
                <File Name="Gallio.Utility.plugin" />
            </Component>
            <Component Id="Gallio.ControlPanel" Guid="{7257BA17-B090-49eb-987D-D2DE4781554C}" Win64="no">
                <File Name="Gallio.ControlPanel.exe" KeyPath="yes">
                    <Shortcut Id="Gallio.ControlPanel.lnk" Name="Gallio Control Panel" Description="Configures preferences and manages the Gallio installation." Directory="GallioMenuFolder" WorkingDirectory="binFolder" Icon="Gallio.icon.exe" IconIndex="0" Advertise="yes" Show="normal" />
		</File>
                <File Name="Gallio.ControlPanel.exe.config" />
                <File Name="Gallio.ControlPanel.plugin" />
            </Component>
            <Component Id="Aga.Controls.dll" Guid="3c58ac7a-fe23-4bd4-9bb4-1bd5c107ba89" Win64="no">
                <File Name="Aga.Controls.dll" Assembly=".net" AssemblyApplication="Gallio.Icarus.exe" KeyPath="yes" />
            </Component>
            <Component Id="WeifenLuo.WinFormsUI.Docking.dll" Guid="3B11B01F-71EB-4423-AC66-55CE8E6E30D9" Win64="no">
                <File Name="WeifenLuo.WinFormsUI.Docking.dll" Assembly=".net" AssemblyApplication="Gallio.Icarus.exe" KeyPath="yes" />
            </Component>

            <Directory Id="LoaderFolder" Name="Loader">
                <Component Id="Gallio.Loader.GAC" Guid="{1b752f49-373c-4a57-8f72-eb97287d0d35}" Win64="no">
                    <!-- Install in the GAC -->
                    <File Id="Gallio.Loader.dll.GAC" Name="Gallio.Loader.dll" KeyPath="yes" Assembly=".net" />

	            <!-- TODO: Install the PDB and XML in the GAC also.
		           This may require using a custom task. -->
                </Component>
		
                <Component Id="Gallio.Loader.NonGAC" Guid="{335A459C-AF25-4e9a-A0A7-745C06B00911}" Win64="no">
                    <File Id="Gallio.Loader.dll.NonGAC" Name="Gallio.Loader.dll" KeyPath="yes" Assembly=".net" AssemblyApplication="Gallio.Loader.dll.NonGAC" />
                    <File Id="Gallio.Loader.xml.NonGAC" Name="Gallio.Loader.xml" />
                    <File Id="Gallio.Loader.pdb.NonGAC" Name="Gallio.Loader.pdb" />
                    <File Id="Gallio.Loader.plugin.NonGAC" Name="Gallio.Loader.plugin" />
                </Component>
            </Directory>

            <Directory Id="ResourcesFolder" Name="Resources" />
        </DirectoryRef>

        <DirectoryRef Id="ResourcesFolder" FileSource="$(var.GallioTargetDir)\bin\Resources\">
            <Component Id="Gallio.Resources" Guid="{E99D0D72-95F9-4d17-8BAA-7FFC83402E52}" Win64="no">
                <File Id="Gallio.ico" Name="Gallio.ico" KeyPath="yes" />
		
                <File Id="Assembly.ico" Name="Assembly.ico" />
                <File Id="Container.ico" Name="Container.ico" />
                <File Id="Fixture.ico" Name="Fixture.ico" />
                <File Id="Test.ico" Name="Test.ico" />
		
                <File Id="Gallio.ControlPanel.ico" Name="Gallio.ControlPanel.ico" />
                <File Id="Gallio.Utility.ico" Name="Gallio.Utility.ico" />
		
		<!-- We may create additional resources at runtime so we need to be sure to delete this folder during uninstallation. -->
                <RemoveFolder Id="Gallio.Resources.RemoveFolder" On="uninstall" />
            </Component>

            <Directory Id="Reports.css" Name="css">
                <Component Id="Gallio.Resources.css" Guid="65dc0971-e579-4226-b78a-1588d9f6977d" Win64="no">
                    <File Id="Gallio.Report.css" Name="Gallio-Report.css" KeyPath="yes" />
                </Component>
            </Directory>

            <Directory Id="Reports.js" Name="js">
                <Component Id="Gallio.Resources.js" Guid="09db9a62-2734-4624-9d6c-8ce1688d21ce" Win64="no">
                    <File Id="Gallio.Report.js" Name="Gallio-Report.js" KeyPath="yes" />
                    <File Id="swfobject.js" Name="swfobject.js" />
                    <File Id="player.swf" Name="player.swf" />
                    <File Id="expressInstall.swf" Name="expressInstall.swf" />
                </Component>
            </Directory>

            <Directory Id="Reports.xsl" Name="xsl">
                <Component Id="Gallio.Resources.xsl" Guid="1AE4D4DD-DE35-4887-8953-9079E1BE2447" Win64="no">
                    <File Id="Gallio.Report.common.xsl" Name="Gallio-Report.common.xsl" />
                    <File Id="Gallio.Report.txt.xsl" Name="Gallio-Report.txt.xsl" />
                    <File Id="Gallio.Report.txt.common.xsl" Name="Gallio-Report.txt-common.xsl" />
                    <File Id="Gallio.Report.txt.condensed.xsl" Name="Gallio-Report.txt-condensed.xsl" />
                    <File Id="Gallio.Report.html.xsl" Name="Gallio-Report.html.xsl" />
                    <File Id="Gallio.Report.html.condensed.xsl" Name="Gallio-Report.html-condensed.xsl"  />
                    <File Id="Gallio.Report.xhtml.xsl" Name="Gallio-Report.xhtml.xsl" />
                    <File Id="Gallio.Report.xhtml.condensed.xsl" Name="Gallio-Report.xhtml-condensed.xsl" />
                    <File Id="Gallio.Report.htmlxhtml.xsl" Name="Gallio-Report.html+xhtml.xsl" />
                    <File Id="Gallio.Report.ccnet.details.xsl" Name="Gallio-Report.ccnet-details.xsl" />
                    <File Id="Gallio.Report.ccnet.details.condensed.xsl" Name="Gallio-Report.ccnet-details-condensed.xsl" />
                </Component>
            </Directory>

            <Directory Id="Reports.img" Name="img">
                <Component Id="Gallio.Resources.img" Guid="76196919-6e89-486f-b095-5bc28787d954" Win64="no">
                    <File Id="Reports.GallioTestReportHeader.png" Name="GallioTestReportHeader.png" KeyPath="yes" />
                    <File Id="Reports.Failed.gif" Name="Failed.gif" />
                    <File Id="Reports.FullStop.gif" Name="FullStop.gif" />
                    <File Id="Reports.header.background.gif" Name="header-background.gif" />
                    <File Id="Reports.Ignored.gif" Name="Ignored.gif" />
                    <File Id="Reports.Minus.gif" Name="Minus.gif" />
                    <File Id="Reports.Passed.gif" Name="Passed.gif" />
                    <File Id="Reports.Plus.gif" Name="Plus.gif" />
                    <File Id="Reports.UnknownTestKind.png" Name="UnknownTestKind.png" />
                </Component>
            </Directory>

        </DirectoryRef>

        <DirectoryRef Id="docsFolder" FileSource="$(var.GallioTargetDir)\docs\">
<?ifdef FEATURE_CHM_HELP ?>
            <Component Id="Gallio.chm" Guid="{37BEC1CB-8141-4793-8CFF-986AC4849EB9}" Win64="no">
                <File Name="Gallio.chm" KeyPath="yes">
                    <Shortcut Id="Gallio.Offline.Documentation.lnk" Name="Offline Documentation" Directory="GallioMenuFolder" WorkingDirectory="docsFolder" Icon="Gallio.icon.exe" IconIndex="0" Advertise="yes" Show="normal" />
                </File>
            </Component>
<?endif?>

<?ifdef FEATURE_VS_HELP ?>
            <Directory Id="docsVsFolder" Name="vs">
                <Component Id="Gallio.Help.vs" Guid="37360bcd-0c85-4132-822e-5810371b59fa" Win64="no">
                    <File Name="Gallio.HxS" />
                    <File Name="Gallio.HxC" />
                    <File Name="Gallio.HxT" />
                    <File Name="Gallio_A.HxK" />
                    <File Name="Gallio_B.HxK" />
                    <File Name="Gallio_F.HxK" />
                    <File Name="Gallio_K.HxK" />
                    <File Name="Gallio_S.HxK" />
                    <File Name="Gallio_NamedUrlIndex.HxK" />
                </Component>
                <Component Id="Gallio.H2Reg.ini" Guid="7bb0227e-0dc9-4385-b97c-1b9aff6504fd" Win64="no">
                    <File Id="Gallio.H2Reg.ini" Name="Gallio_H2Reg.ini" />
                </Component>
            </Directory>
<?endif?>
        </DirectoryRef>

        <DirectoryRef Id="extraFolder">
<?ifdef FEATURE_VS_HELP ?>
            <Directory Id='H2RegDir' Name='H2Reg'>
                <Component Id="H2Reg.exe" Guid="779c47b3-56ba-4efc-ab52-3b809c2f2c3b" Win64="no">
                    <File Id="H2Reg.exe" Source="$(sys.SOURCEFILEDIR)..\..\tools\H2Reg\H2Reg.exe" KeyPath="yes" />
                    <File Id="H2Reg.ini" Source="$(sys.SOURCEFILEDIR)..\..\tools\H2Reg\H2Reg.ini" />
                    <RemoveFile Id="H2Reg_Log.txt" Name="H2Reg_Log.txt" On="uninstall" />
                </Component>
            </Directory>
<?endif?>
        </DirectoryRef>

        <Feature Id="feat_Gallio" Title="Gallio" Level="1" InstallDefault="local" TypicalDefault="install" Absent="disallow" AllowAdvertise="no"
                 Description="Installs the Gallio test automation platform." ConfigurableDirectory="INSTALLDIR" Display="2">
            <ComponentRef Id="Gallio" />
            <ComponentRef Id="Gallio35" />
	    <?ifdef FEATURE_GALLIO40?>
            <ComponentRef Id="Gallio40" />
	    <?endif?>
            <ComponentRef Id="Gallio.XmlSerializers" />
            <ComponentRef Id="Gallio.Host" />
            <ComponentRef Id="Gallio.Host.x86" />
            <ComponentRef Id="Gallio.Host.Elevated" />
            <ComponentRef Id="Gallio.Host.Elevated.x86" />
            <ComponentRef Id="Gallio.Loader.GAC" />
            <ComponentRef Id="Gallio.Loader.NonGAC" />
            <ComponentRef Id="Gallio.License" />
            <ComponentRef Id="Mono.Cecil.License" />
            <ComponentRef Id="Gallio.Website" />
            <ComponentRef Id="Gallio.Registry" />
            <ComponentRef Id="Apache.License" />
            <ComponentRef Id="Gallio.Credits" />
            <ComponentRef Id="Gallio.UI"/>
            <ComponentRef Id="Gallio.Utility"/>
            <ComponentRef Id="Gallio.ControlPanel"/>
            <ComponentRef Id="Gallio.Reports"/>
            <ComponentRef Id="Aga.Controls.dll" />
            <ComponentRef Id="WeifenLuo.WinFormsUI.Docking.dll" />

            <ComponentRef Id="Gallio.Resources"/>
            <ComponentRef Id="Gallio.Resources.css"/>
            <ComponentRef Id="Gallio.Resources.js"/>
            <ComponentRef Id="Gallio.Resources.xsl"/>
            <ComponentRef Id="Gallio.Resources.img"/>

            <ComponentRef Id="GallioMenuFolder.RemoveFolder"/>
        </Feature>

        <CustomAction Id="ResetInstallationId.SetCommandLine" Value='"[#Gallio.Utility.exe]" ResetInstallationId /v:debug' Property="ResetInstallationId" />
        <CustomAction Id="ResetInstallationId" BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="deferred" Return="check" Impersonate="no"/>

        <CustomAction Id="Setup.Install.SetCommandLine" Value='"[#Gallio.Utility.exe]" Setup /install /v:debug' Property="Setup.Install" />
        <CustomAction Id="Setup.Install" BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="deferred" Return="check" Impersonate="no"/>

        <CustomAction Id="Setup.Uninstall.SetCommandLine" Value='"[#Gallio.Utility.exe]" Setup /uninstall /v:debug' Property="Setup.Uninstall" />
        <CustomAction Id="Setup.Uninstall" BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="deferred" Return="ignore" Impersonate="no"/>

        <InstallExecuteSequence>
            <InstallExecute After="PublishProduct" />

            <Custom Action="ResetInstallationId.SetCommandLine" After="InstallValidate" />
            <Custom Action="ResetInstallationId" After="InstallExecute"><![CDATA[(&feat_Gallio = 3) OR (NOT(&feat_Gallio = 2) AND !feat_Gallio = 3)]]></Custom>
	
            <Custom Action="Setup.Install.SetCommandLine" After="InstallValidate" />
            <Custom Action="Setup.Install" After="ResetInstallationId"><![CDATA[(&feat_Gallio = 3) OR (NOT(&feat_Gallio = 2) AND !feat_Gallio = 3)]]></Custom>

            <Custom Action="Setup.Uninstall.SetCommandLine" After="InstallValidate" />
            <Custom Action="Setup.Uninstall" After="ProcessComponents"><![CDATA[(!feat_Gallio = 3)]]></Custom>
        </InstallExecuteSequence>

        <UI>
            <ProgressText Action="ResetInstallationId" Template="[1]">Resetting the installation id to refresh the plugins list ...</ProgressText>
            <ProgressText Action="Setup.Install" Template="[1]">Installing components ...</ProgressText>
            <ProgressText Action="Setup.Uninstall" Template="[1]">Uninstalling components ...</ProgressText>
        </UI>

<?ifdef FEATURE_CHM_HELP ?>
        <Feature Id="feat_Gallio.Help" Title="Standalone Help Docs" Level="1" Description="Installs the standalone help documentation CHM file." AllowAdvertise="no">
            <ComponentRef Id="Gallio.chm" />
        </Feature>
<?endif ?>

<?ifdef FEATURE_VS_HELP ?>
        <PropertyRef Id='VS2005DEVENV'/>
        <PropertyRef Id='VS90DEVENV'/>

        <Feature Id="feat_Gallio.VSHelp" Title="Visual Studio Help Docs" Level="0" AllowAdvertise="no"
                 Description="Installs the integrated documentation for Visual Studio 2005 and/or Visual Studio 2008. Access with F1 Help.">
            <Condition Level="1">VS2005DEVENV OR VS90DEVENV</Condition>
            <ComponentRef Id="Gallio.Help.vs" />
            <ComponentRef Id="Gallio.H2Reg.ini" />
            <ComponentRef Id="H2Reg.exe" />
        </Feature>

        <CustomAction Id="H2Reg.Install.SetCommandLine" Value='"[#H2Reg.exe]" -r -q CmdFile="[#Gallio.H2Reg.ini]"' Property="H2Reg.Install" />
        <CustomAction Id="H2Reg.Install" BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="deferred" Return="check" Impersonate="no"/>
	
        <CustomAction Id="H2Reg.Uninstall.SetCommandLine" Value='"[#H2Reg.exe]" -u -q CmdFile="[#Gallio.H2Reg.ini]"' Property="H2Reg.Uninstall" />
        <CustomAction Id="H2Reg.Uninstall" BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="deferred" Return="ignore" Impersonate="no"/>

        <InstallExecuteSequence>
            <Custom Action="H2Reg.Install.SetCommandLine" After="InstallValidate" />
            <Custom Action="H2Reg.Install" After="InstallExecute"><![CDATA[(&feat_Gallio.VSHelp = 3) AND NOT(!feat_Gallio.VSHelp = 3)]]></Custom>

            <Custom Action="H2Reg.Uninstall.SetCommandLine" After="InstallValidate" />
            <Custom Action="H2Reg.Uninstall" After="ProcessComponents"><![CDATA[(&feat_Gallio.VSHelp = 2) AND (!feat_Gallio.VSHelp = 3)]]></Custom>
        </InstallExecuteSequence>

        <UI>
            <ProgressText Action="H2Reg.Install" Template="[1]">Installing help files into Visual Studio ...</ProgressText>
            <ProgressText Action="H2Reg.Uninstall" Template="[1]">Uninstalling help files from Visual Studio ...</ProgressText>
        </UI>
<?endif?>
    </Fragment>
</Wix>
