<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <?include ..\..\Installer\Common.wxi ?>
    
    <Fragment>
        <Property Id="INSTALLDESKTOPSHORTCUT" Value="1" />
        <Property Id="INSTALLSTARTMENUSHORTCUT" Value="1" />

        <Icon Id="Icarus.icon.exe" SourceFile="$(var.GallioTargetDir)\bin\Gallio.Icarus.exe" />

        <DirectoryRef Id="binFolder" FileSource="$(var.GallioTargetDir)\bin\">
            <Component Id="Gallio.Icarus.exe" Guid="2a7e3285-c570-44fa-8132-cb6d22f2f7c0" Win64="$(var.Win64Binary)">
                <File Name="Gallio.Icarus.exe" KeyPath="yes">
                    <Shortcut Id="Gallio.Icarus.Menu.lnk" Name="Icarus GUI Test Runner" Description="Run tests." Directory="GallioMenuFolder" WorkingDirectory="binFolder" Icon="Icarus.icon.exe" IconIndex="0" Advertise="yes" Show="normal" />
                    <Shortcut Id="Gallio.Icarus.Desktop.lnk" Name="Icarus GUI Test Runner" Description="Run tests." Directory="DesktopFolder" WorkingDirectory="binFolder" Icon="Icarus.icon.exe" IconIndex="0" Advertise="yes" Show="normal" />
                </File>
                <File Name="Gallio.Icarus.exe.config" />
                <File Name="Gallio.Icarus.plugin" />
                <File Name="Gallio.Icarus.XmlSerializers.dll" />
            </Component>
            <Component Id="ICSharpCode.TextEditor.dll" Guid="7b12c1e0-c859-4ca8-a32a-b3e1f5059055" Win64="$(var.Win64Binary)">
                <File Name="ICSharpCode.TextEditor.dll" Assembly=".net" AssemblyApplication="Gallio.Icarus.exe" KeyPath="yes" />
            </Component>
            <Component Id="WeifenLuo.WinFormsUI.Docking.dll" Guid="CD3A8E5D-4C06-4e1a-A6A9-06ABA2EEE06A" Win64="$(var.Win64Binary)">
                <File Name="WeifenLuo.WinFormsUI.Docking.dll" Assembly=".net" AssemblyApplication="Gallio.Icarus.exe" KeyPath="yes" />
            </Component>
        </DirectoryRef>

        <DirectoryRef Id="ResourcesFolder" FileSource="$(var.GallioTargetDir)\bin\Resources\">
            <Component Id="Gallio.Icarus.Resources" Guid="{F8A60B6D-04DC-4835-959A-500E2365741A}" Win64="$(var.Win64Binary)">
                <File Id="Gallio.Icarus.ico" Name="Gallio.Icarus.ico" KeyPath="yes" />
            </Component>
        </DirectoryRef>

       <DirectoryRef Id="licensesFolder" FileSource="$(var.GallioTargetDir)\licenses\">
         <Component Id="ICSharpCode.TextEditor.License" Guid="{E8452C8B-016B-4306-AD12-759FF64AFC7C}">
           <File Id="ICSharpCode.TextEditor.License.txt" Name="ICSharpCode.TextEditor.License.txt" KeyPath="yes" />
         </Component>
         <Component Id="WeifenLuo.WinFormsUI.Docking.License" Guid="{15FFA461-FD24-4322-9488-85856FA7D21B}">
           <File Id="WeifenLuo.WinFormsUI.Docking.License.txt" Name="ICSharpCode.TextEditor.License.txt" KeyPath="yes" />
         </Component>
       </DirectoryRef>

        <Feature Id="feat_Gallio.Icarus" Title="Icarus (GUI Test Runner)" Level="1" AllowAdvertise="no"
            Description="Installs the Gallio GUI-based test runner.">
            <ComponentRef Id="Gallio.Icarus.exe" />
            <ComponentRef Id="Gallio.Icarus.Resources" />

          <ComponentRef Id="ICSharpCode.TextEditor.dll" />
          <ComponentRef Id="ICSharpCode.TextEditor.License" />

          <ComponentRef Id="WeifenLuo.WinFormsUI.Docking.dll" />
          <ComponentRef Id="WeifenLuo.WinFormsUI.Docking.License" />
        </Feature>
    </Fragment>
</Wix>
