<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:VS="http://schemas.microsoft.com/wix/VSExtension">
    <Fragment>
        <!-- Pick up Visual Studio properties from WixVSExtension -->
        <PropertyRef Id="VS90_ITEMTEMPLATES_DIR" />
        <PropertyRef Id="VS90_PROJECTTEMPLATES_DIR" />

        <DirectoryRef Id="TARGETDIR">

            <Directory Id="VS90_ITEMTEMPLATES_DIR" Name="ItemTemplates.VS2008">
                <Directory Id="VS2008.ItemTemplates.CS" Name="CSharp">
                    <Component Id="VS2008.MbUnit3.TestFixtureTemplate.CSharp.zip" Guid="45F61E32-1A5A-4bc0-922F-1162D145A884" Win64="no">
                        <File Id="VS2008.MbUnit3.TestFixtureTemplate.CSharp.zip" Source="$(var.GallioTargetDir)\extras\Templates\VS2008\ItemTemplates\CSharp\MbUnit3.TestFixtureTemplate.CSharp.zip" KeyPath="yes" />
                    </Component>
                </Directory>
                <Directory Id="VS2008.ItemTemplates.VB" Name="VisualBasic">
                    <Component Id="VS2008.MbUnit3.TestFixtureTemplate.VisualBasic.zip" Guid="7EA51EA1-B9CC-4046-A06C-9209824D61B2" Win64="no">
                        <File Id="VS2008.MbUnit3.TestFixtureTemplate.VisualBasic.zip" Source="$(var.GallioTargetDir)\extras\Templates\VS2008\ItemTemplates\VisualBasic\MbUnit3.TestFixtureTemplate.VisualBasic.zip" KeyPath="yes" />
                    </Component>
                </Directory>
            </Directory>

            <Directory Id="VS90_PROJECTTEMPLATES_DIR" Name="ProjectTemplates.VS2008">
                <Directory Id="VS2008.ProjectTemplates.CS" Name="CSharp">
                    <Component Id="VS2008.MbUnit3.TestProjectTemplate.CSharp.zip" Guid="{00EB4409-61A2-4065-B019-7B97AA240825}" Win64="no">
                        <File Id="VS2008.MbUnit3.TestProjectTemplate.CSharp.zip" Source="$(var.GallioTargetDir)\extras\Templates\VS2008\ProjectTemplates\CSharp\MbUnit3.TestProjectTemplate.CSharp.zip" KeyPath="yes" />
                    </Component>
                    <Component Id="VS2008.MbUnit3.MvcWebApplicationTestProjectTemplate.CSharp.zip" Guid="{6C15FBB6-E0C7-47f4-B7F6-08FC428AD775}" Win64="no">
                        <File Id="VS2008.MbUnit3.MvcWebApplicationTestProjectTemplate.CSharp.zip" Source="$(var.GallioTargetDir)\extras\Templates\VS2008\ProjectTemplates\CSharp\MbUnit3.MvcWebApplicationTestProjectTemplate.CSharp.zip" KeyPath="yes" />
                        <RegistryKey Action="createAndRemoveOnUninstall" Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\9.0\MVC\TestProjectTemplates\MbUnit3\C#">
                            <RegistryValue Type="string" Name="Path" Value="CSharp" />
                            <RegistryValue Type="string" Name="Template" Value="MbUnit3.MvcWebApplicationTestProjectTemplate.CSharp.zip" />
                            <RegistryValue Type="string" Name="TestFrameworkName" Value="MbUnit v3" />
                            <RegistryValue Type="string" Name="AdditionalInfo" Value="http://www.mbunit.com/" />
                        </RegistryKey>
                    </Component>
                </Directory>
                <Directory Id="VS2008.ProjectTemplates.VB" Name="VisualBasic">
                    <Component Id="VS2008.MbUnit3.TestProjectTemplate.VisualBasic.zip" Guid="{77546593-B0F5-40b9-A02F-FF1D89101498}" Win64="no">
                        <File Id="VS2008.MbUnit3.TestProjectTemplate.VisualBasic.zip" Source="$(var.GallioTargetDir)\extras\Templates\VS2008\ProjectTemplates\VisualBasic\MbUnit3.TestProjectTemplate.VisualBasic.zip" KeyPath="yes" />
                    </Component>
                    <Component Id="VS2008.MbUnit3.MvcWebApplicationTestProjectTemplate.VisualBasic.zip" Guid="{8B357A10-BBD9-41e0-8C53-FE05B2E693F5}" Win64="no">
                        <File Id="VS2008.MbUnit3.MvcWebApplicationTestProjectTemplate.VisualBasic.zip" Source="$(var.GallioTargetDir)\extras\Templates\VS2008\ProjectTemplates\VisualBasic\MbUnit3.MvcWebApplicationTestProjectTemplate.VisualBasic.zip" KeyPath="yes" />
                        <RegistryKey Action="createAndRemoveOnUninstall" Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\9.0\MVC\TestProjectTemplates\MbUnit3\VB">
                            <RegistryValue Type="string" Name="Path" Value="VisualBasic" />
                            <RegistryValue Type="string" Name="Template" Value="MbUnit3.MvcWebApplicationTestProjectTemplate.VisualBasic.zip" />
                            <RegistryValue Type="string" Name="TestFrameworkName" Value="MbUnit v3" />
                            <RegistryValue Type="string" Name="AdditionalInfo" Value="http://www.mbunit.com/" />
                        </RegistryKey>
                    </Component>
                </Directory>
            </Directory>

        </DirectoryRef>

        <Feature Id="feat_MbUnit3.Templates.VS2008" Title="Visual Studio 2008 Templates" Level="0" AllowAdvertise="no"
                 Description="Installs the MbUnit v3 Visual Studio 2008 templates.">
            <Condition Level="1">
                VS90_ITEMTEMPLATES_DIR and VS90_PROJECTTEMPLATES_DIR
            </Condition>
            <ComponentRef Id="VS2008.MbUnit3.TestFixtureTemplate.CSharp.zip" />
            <ComponentRef Id="VS2008.MbUnit3.TestFixtureTemplate.VisualBasic.zip" />
            <ComponentRef Id="VS2008.MbUnit3.TestProjectTemplate.CSharp.zip" />
            <ComponentRef Id="VS2008.MbUnit3.TestProjectTemplate.VisualBasic.zip" />
            <ComponentRef Id="VS2008.MbUnit3.MvcWebApplicationTestProjectTemplate.CSharp.zip" />
            <ComponentRef Id="VS2008.MbUnit3.MvcWebApplicationTestProjectTemplate.VisualBasic.zip" />
        </Feature>
    </Fragment>
</Wix>
