<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:vs="http://schemas.microsoft.com/wix/VSExtension"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
    <?include ..\..\Installer.Wix\Features.wxi ?>

<?ifdef FEATURE_VISUALSTUDIO_90?>
    <Fragment>
        <PropertyRef Id='VS90DEVENV'/>
        <PropertyRef Id='VS90_ROOT_FOLDER'/>

        <DirectoryRef Id="VisualStudio">
            <Directory Id="VS90_ROOT_FOLDER">
                <Directory Id="VS90.Common7" Name="Common7">
                    <Directory Id="VS90.Common7.IDE" Name="IDE" />
                </Directory>
            </Directory>
	
            <Directory Id="VisualStudio.VS90" Name="v9.0" FileSource="$(var.GallioTargetDir)\bin\VisualStudio\v9.0">
                <Component Id="Gallio.VisualStudio.Shell90.dll" Guid="{E0BE4838-A5CA-4af4-8838-3AC519AF28F9}" Win64="no">
                    <File Name="Gallio.VisualStudio.Shell90.dll" KeyPath="yes" 
                          Assembly=".net" AssemblyApplication="Gallio.VisualStudio.Shell90.dll" />
                    <File Name="Gallio.VisualStudio.Shell90.plugin" />
                    <File Name="Gallio.VisualStudio.Shell90.addin" />
                </Component>

                <Component Id="Gallio.VisualStudio.Shell90.Registry" Guid="{AE9CCDE1-FF9F-4519-96D8-F4E2609B1B40}" Win64="no">
                    <!-- Register the product -->
                    <RegistryKey Id="Gallio.VisualStudio.Shell90.Registry1" Action="createAndRemoveOnUninstall"
                                 Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\9.0\InstalledProducts\Gallio">
                        <RegistryValue Type="string" Name="Package" Value="{9e600ffc-344d-4e6f-89c0-ded6afb42459}"/>
                        <RegistryValue Type="integer" Name="UseInterface" Value="1"/>
                    </RegistryKey>

                    <!-- Register the package -->
                    <RegistryKey Id="Gallio.VisualStudio.Shell90.Registry2" Action="createAndRemoveOnUninstall"
                                 Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\9.0\Packages\{9e600ffc-344d-4e6f-89c0-ded6afb42459}">
                        <RegistryValue Type="string" Value="Gallio Shell Package"/>
                        <RegistryValue Type="string" Name="InprocServer32" Value="[SystemFolder]mscoree.dll"/>
                        <RegistryValue Type="string" Name="Class" Value="Gallio.VisualStudio.Shell.Core.ShellPackage"/>
                        <RegistryValue Type="string" Name="CodeBase" Value="[#Gallio.VisualStudio.Shell90.dll]"/>
                        <RegistryValue Type="integer" Name="ID" Value="1"/>
                        <!-- Warning: Don't change these without getting a new Visual Studio Package Load Key -->
                        <RegistryValue Type="string" Name="MinEdition" Value="Standard"/>
                        <RegistryValue Type="string" Name="ProductVersion" Value="3.0"/>
                        <RegistryValue Type="string" Name="ProductName" Value="Gallio"/>
                        <RegistryValue Type="string" Name="CompanyName" Value="Gallio Project"/>
                    </RegistryKey>
                    <RegistryKey Id="Gallio.VisualStudio.Shell90.Registry3" Action="createAndRemoveOnUninstall"
                                 Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\9.0\AutoLoadPackages\{f1536ef8-92ec-443c-9ed7-fdadf150da82}">
                        <RegistryValue Type="integer" Name="{9e600ffc-344d-4e6f-89c0-ded6afb42459}" Value="0"/>
                    </RegistryKey>

                    <!-- Register the add-in -->
                    <RegistryKey Id="Gallio.VisualStudio.Shell90.Registry4" Action="create"
                                 Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\9.0\AutomationOptions\LookInFolders">
                        <RegistryValue Type="string" Name="[VisualStudio.VS90]" Value="Gallio" />
                    </RegistryKey>

                    <!-- Remove a file created by the VSIP SDK that prevents the splash screen from being updated correctly. -->
                    <RemoveFile Id="Gallio.VisualStudio.Shell90.SplashFix" On="both" Name="vs000223.dat" Directory="VS90.Common7.IDE" />
                </Component>

<?ifdef FEATURE_VISUALSTUDIO_SAIL_90 ?>
                <Component Id="Gallio.VisualStudio.Sail90.dll" Guid="{05E499FA-1897-48d0-98DC-ED8B3E4AFFD3}" Win64="no">
                    <File Name="Gallio.VisualStudio.Sail90.dll" KeyPath="yes" />
                    <File Name="Gallio.VisualStudio.Sail90.plugin" />
                </Component>

                <!--
                <Component Id="Gallio.VisualStudio.Sail90.Registry" Guid="{887DB38D-42DB-4dcc-9008-9DF0E6CBE8A4}">
                </Component>
                -->
<?endif?>
                
<?ifdef FEATURE_VISUALSTUDIO_TIP_90 ?>
                <Component Id="Gallio.VisualStudio.Tip90.dll" Guid="{03BC061B-BCEC-4e3f-BC65-EEE2BCDA30E9}" Win64="no">
                  <File Name="Gallio.VisualStudio.Tip90.dll" KeyPath="yes" />
                  <File Name="Gallio.VisualStudio.Tip90.plugin" />
                </Component>

                <Component Id="Gallio.VisualStudio.Tip90.Proxy.dll" Guid="{471E67AA-8B22-421a-BECC-6B900D5CD698}" Win64="no">
                    <!-- Install in GAC -->
                    <File Name="Gallio.VisualStudio.Tip90.Proxy.dll" Assembly=".net" KeyPath="yes" />
                </Component>

                <Component Id="Gallio.VisualStudio.Tip90.Registry" Guid="{E89197CF-A054-47ae-A1BE-2BB61588ACB1}" Win64="no">
                    <!-- Register the test types -->
                    <RegistryKey Id="Gallio.VisualStudio.Tip90.Registry1" Action="createAndRemoveOnUninstall"
                                 Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\9.0\EnterpriseTools\QualityTools\TestTypes\{F3589083-259C-4054-87F7-75CDAD4B08E5}">
                        <RegistryValue Type="string" Name="NameId" Value="#100"/>
                        <RegistryValue Type="string" Name="TipProvider" Value="Gallio.VisualStudio.Tip.GallioTipProxy, !(bind.assemblyFullName.Gallio.VisualStudio.Tip90.Proxy.dll)"/>
                        <RegistryValue Type="string" Name="ServiceType" Value="Gallio.VisualStudio.Tip.SGallioTestService, !(bind.assemblyFullName.Gallio.VisualStudio.Tip90.Proxy.dll)"/>
                        <RegistryKey Key="Extensions">
                            <RegistryValue Type="integer" Name=".dll" Value="101"/>
                            <RegistryValue Type="integer" Name=".exe" Value="101"/>
                        </RegistryKey>
                    </RegistryKey>
                </Component>
<?endif?>
            </Directory>
	</DirectoryRef>

        <Feature Id="feat_Gallio.VisualStudio.VS90" Title="Visual Studio 2008 Add-In" Level="0" Description="Installs the pre-requisite packages for Visual Studio 2008 integration features." AllowAdvertise="no">
            <Condition Level="1">VS90DEVENV</Condition>

            <ComponentRef Id="Gallio.VisualStudio.Shell.dll"/>
            <ComponentRef Id="Gallio.VisualStudio.Shell90.dll"/>
            <ComponentRef Id="Gallio.VisualStudio.Shell90.Registry"/>
            
<?ifdef FEATURE_VISUALSTUDIO_TIP_90 ?>
            <Feature Id="feat_Gallio.VisualStudio.Tip.VS90" Title="Visual Studio Test Tools Runner" Level="1" Description="Test integration provider for Visual Studio Test Tools" AllowAdvertise="no">
                <ComponentRef Id="Gallio.VisualStudio.Tip90.dll"/>
                <ComponentRef Id="Gallio.VisualStudio.Tip90.Proxy.dll"/>
                <ComponentRef Id="Gallio.VisualStudio.Tip90.Registry"/>
            </Feature>
<?endif?>
                
<?ifdef FEATURE_VISUALSTUDIO_SAIL_90 ?>
            <Feature Id="feat_Gallio.VisualStudio.Sail.VS90" Title="Sail" Level="100" Description="Simple test runner add-in for Visual Studio (Experimental!)" AllowAdvertise="no">
                <ComponentRef Id="Gallio.VisualStudio.Sail90.dll"/>
                <!--
                <ComponentRef Id="Gallio.VisualStudio.Sail90.Registry"/>
                -->
            </Feature>
<?endif?>
        </Feature>
    </Fragment>
<?endif?>
</Wix>
