<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:vs="http://schemas.microsoft.com/wix/VSExtension"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
    <?include ..\..\Installer.Wix\Features.wxi ?>

<?ifdef FEATURE_VISUALSTUDIO ?>
    <Fragment>
        <PropertyRef Id='VS90DEVENV'/>
        <PropertyRef Id='VS90_ROOT_FOLDER'/>

        <PropertyRef Id='VS100DEVENV'/>
        <PropertyRef Id='VS100_ROOT_FOLDER'/>

        <DirectoryRef Id="binFolder" FileSource="$(var.GallioTargetDir)\bin\">
            <Directory Id="VisualStudio" Name="VisualStudio">
                <Component Id="Gallio.VisualStudio.Interop.dll" Guid="{56E419A9-B033-4115-9BA5-D21137D6F052}" Win64="no">
                    <File Name="Gallio.VisualStudio.Interop.dll" KeyPath="yes" 
                          Assembly=".net" AssemblyApplication="Gallio.VisualStudio.Interop.dll" />
                </Component>

                <Component Id="Gallio.VisualStudio.Shell.dll" Guid="{E0BE4838-A5CA-4af4-8838-3AC519AF28F9}" Win64="no">
                    <File Name="Gallio.VisualStudio.Shell.dll" KeyPath="yes" 
                          Assembly=".net" AssemblyApplication="Gallio.VisualStudio.Shell.dll" />
                    <File Name="Gallio.VisualStudio.Shell.plugin" />
<?ifdef FEATURE_VISUALSTUDIO_90?>
                    <File Name="Gallio.VisualStudio.Shell.vs2008.addin" />
<?endif?>
<?ifdef FEATURE_VISUALSTUDIO_100?>
                    <File Name="Gallio.VisualStudio.Shell.vs2010.addin" />
<?endif?>
                </Component>
                
<?ifdef FEATURE_VISUALSTUDIO_90?>
                <Component Id="Gallio.VisualStudio.Shell.VS90.Registry" Guid="{AE9CCDE1-FF9F-4519-96D8-F4E2609B1B40}" Win64="no">

                    <!-- Register the product -->
                    <RegistryKey Id="Gallio.VisualStudio.Shell.VS90.Registry1" Action="createAndRemoveOnUninstall"
                                 Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\9.0\InstalledProducts\Gallio">
                        <RegistryValue Type="string" Name="Package" Value="{9e600ffc-344d-4e6f-89c0-ded6afb42459}"/>
                        <RegistryValue Type="integer" Name="UseInterface" Value="1"/>
                    </RegistryKey>

                    <!-- Register the package -->
                    <RegistryKey Id="Gallio.VisualStudio.Shell.VS90.Registry2" Action="createAndRemoveOnUninstall"
                                 Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\9.0\Packages\{9e600ffc-344d-4e6f-89c0-ded6afb42459}">
                        <RegistryValue Type="string" Value="Gallio Shell Package"/>
                        <RegistryValue Type="string" Name="InprocServer32" Value="[SystemFolder]mscoree.dll"/>
                        <RegistryValue Type="string" Name="Class" Value="Gallio.VisualStudio.Shell.ShellPackage"/>
                        <RegistryValue Type="string" Name="CodeBase" Value="[#Gallio.VisualStudio.Shell.dll]"/>
                        <RegistryValue Type="integer" Name="ID" Value="1"/>
                        <RegistryValue Type="string" Name="MinEdition" Value="Standard"/>
                        <RegistryValue Type="string" Name="ProductVersion" Value="3.0"/>
                        <RegistryValue Type="string" Name="ProductName" Value="Gallio"/>
                        <RegistryValue Type="string" Name="CompanyName" Value="Gallio Project"/>
                    </RegistryKey>
                    <RegistryKey Id="Gallio.VisualStudio.Shell.VS90.Registry3" Action="createAndRemoveOnUninstall"
                                 Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\9.0\AutoLoadPackages\{f1536ef8-92ec-443c-9ed7-fdadf150da82}">
                        <RegistryValue Type="integer" Name="{9e600ffc-344d-4e6f-89c0-ded6afb42459}" Value="0"/>
                    </RegistryKey>

                    <!-- Register the add-in -->
                    <RegistryKey Id="Gallio.VisualStudio.Shell.VS90.Registry4" Action="create"
                                 Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\9.0\AutomationOptions\LookInFolders">
                        <RegistryValue Type="string" Name="[VisualStudio]" Value="Gallio" />
                    </RegistryKey>
                </Component>
<?endif?>

<?ifdef FEATURE_VISUALSTUDIO_100?>
                <Component Id="Gallio.VisualStudio.Shell.VS100.Registry" Guid="{8D0E001F-E927-4228-9B3D-093BFFBB6BFB}" Win64="no">

                    <!-- Register the product -->
                    <RegistryKey Id="Gallio.VisualStudio.Shell.VS100.Registry1" Action="createAndRemoveOnUninstall"
                                 Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\10.0\InstalledProducts\Gallio">
                        <RegistryValue Type="string" Name="Package" Value="{9e600ffc-344d-4e6f-89c0-ded6afb42459}"/>
                        <RegistryValue Type="integer" Name="UseInterface" Value="1"/>
                    </RegistryKey>

                    <!-- Register the package -->
                    <RegistryKey Id="Gallio.VisualStudio.Shell.VS100.Registry2" Action="createAndRemoveOnUninstall"
                                 Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\10.0\Packages\{9e600ffc-344d-4e6f-89c0-ded6afb42459}">
                        <RegistryValue Type="string" Value="Gallio Shell Package"/>
                        <RegistryValue Type="string" Name="InprocServer32" Value="[SystemFolder]mscoree.dll"/>
                        <RegistryValue Type="string" Name="Class" Value="Gallio.VisualStudio.Shell.ShellPackage"/>
                        <RegistryValue Type="string" Name="CodeBase" Value="[#Gallio.VisualStudio.Shell.dll]"/>
                        <RegistryValue Type="integer" Name="ID" Value="1"/>
                        <RegistryValue Type="string" Name="MinEdition" Value="Standard"/>
                        <RegistryValue Type="string" Name="ProductVersion" Value="3.0"/>
                        <RegistryValue Type="string" Name="ProductName" Value="Gallio"/>
                        <RegistryValue Type="string" Name="CompanyName" Value="Gallio Project"/>
                    </RegistryKey>
                    <RegistryKey Id="Gallio.VisualStudio.Shell.VS100.Registry3" Action="createAndRemoveOnUninstall"
                                 Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\10.0\AutoLoadPackages\{f1536ef8-92ec-443c-9ed7-fdadf150da82}">
                        <RegistryValue Type="integer" Name="{9e600ffc-344d-4e6f-89c0-ded6afb42459}" Value="0"/>
                    </RegistryKey>

                    <!-- Register the add-in -->
                    <RegistryKey Id="Gallio.VisualStudio.Shell.VS100.Registry4" Action="create"
                                 Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\10.0\AutomationOptions\LookInFolders">
                        <RegistryValue Type="string" Name="[VisualStudio]" Value="Gallio" />
                    </RegistryKey>
                </Component>
<?endif?>

<?ifdef FEATURE_VISUALSTUDIO_SAIL ?>
                <Component Id="Gallio.VisualStudio.Sail.dll" Guid="{05E499FA-1897-48d0-98DC-ED8B3E4AFFD3}" Win64="no">
                    <File Name="Gallio.VisualStudio.Sail.dll" KeyPath="yes" />
                    <File Name="Gallio.VisualStudio.Sail.plugin" />
                </Component>

                <!--
                <Component Id="Gallio.VisualStudio.Sail.VS90.Registry" Guid="{887DB38D-42DB-4dcc-9008-9DF0E6CBE8A4}">
                </Component>

                <Component Id="Gallio.VisualStudio.Sail.VS100.Registry" Guid="{01555D50-A066-44fe-B317-975617ACAF0E}">
                </Component>
                -->
<?endif?>
                
<?ifdef FEATURE_VISUALSTUDIO_90?>
                <Directory Id="VisualStudio.VS90" Name="v9.0">
<?ifdef FEATURE_VISUALSTUDIO_TIP_90 ?>
                    <Component Id="Gallio.VisualStudio.Tip90.dll" Guid="{03BC061B-BCEC-4e3f-BC65-EEE2BCDA30E9}" Win64="no">
                      <File Name="Gallio.VisualStudio.Tip90.dll" KeyPath="yes" />
                      <File Name="Gallio.VisualStudio.Tip90.plugin" />
                    </Component>

                    <Component Id="Gallio.VisualStudio.Tip90.Proxy.dll" Guid="{471E67AA-8B22-421a-BECC-6B900D5CD698}" Win64="no">
                        <!-- Install in GAC -->
                        <File Name="Gallio.VisualStudio.Tip90.Proxy.dll" Assembly=".net" KeyPath="yes" />
                    </Component>

                    <Component Id="Gallio.VisualStudio.Tip90.Registry" Guid="{E89197CF-A054-47ae-A1BE-2BB61588ACB1}" Win64="no">

                        <!-- Register the test types -->
                        <RegistryKey Id="Gallio.VisualStudio.Tip90.Registry1" Action="createAndRemoveOnUninstall"
                                     Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\9.0\EnterpriseTools\QualityTools\TestTypes\{F3589083-259C-4054-87F7-75CDAD4B08E5}">
                            <RegistryValue Type="string" Name="NameId" Value="#100"/>
                            <RegistryValue Type="string" Name="TipProvider" Value="Gallio.VisualStudio.Tip.GallioTipProxy, !(bind.assemblyFullName.Gallio.VisualStudio.Tip90.Proxy.dll)"/>
                            <RegistryValue Type="string" Name="ServiceType" Value="Gallio.VisualStudio.Tip.SGallioTestService, !(bind.assemblyFullName.Gallio.VisualStudio.Tip90.Proxy.dll)"/>
                            <RegistryKey Key="Extensions">
                                <RegistryValue Type="integer" Name=".dll" Value="101"/>
                                <RegistryValue Type="integer" Name=".exe" Value="101"/>
                            </RegistryKey>
                        </RegistryKey>
                    </Component>
<?endif?>
                </Directory>
<?endif?>

<?ifdef FEATURE_VISUALSTUDIO_100?>
                <Directory Id="VisualStudio.VS100" Name="v10.0">
<?ifdef FEATURE_VISUALSTUDIO_TIP_100 ?>
                    <Component Id="Gallio.VisualStudio.Tip100.dll" Guid="{80A66CE1-C874-41d7-A641-125D077616A3}" Win64="no">
                      <File Name="Gallio.VisualStudio.Tip100.dll" KeyPath="yes" />
                      <File Name="Gallio.VisualStudio.Tip100.plugin" />
                    </Component>

                    <Component Id="Gallio.VisualStudio.Tip100.Proxy.dll" Guid="{FDCF4625-ADE5-4639-A562-8E35CAF996C7}" Win64="no">
                        <!-- Install in GAC -->
                        <File Name="Gallio.VisualStudio.Tip100.Proxy.dll" Assembly=".net" KeyPath="yes" />
                    </Component>

                    <Component Id="Gallio.VisualStudio.Tip100.Registry" Guid="{9CB679D1-D858-4f1f-9F2F-518C9D934429}" Win64="no">

                        <!-- Register the test types -->
                        <RegistryKey Id="Gallio.VisualStudio.Tip100.Registry1" Action="createAndRemoveOnUninstall"
                                     Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\10.0\EnterpriseTools\QualityTools\TestTypes\{F3589083-259C-4054-87F7-75CDAD4B08E5}">
                            <RegistryValue Type="string" Name="NameId" Value="#100"/>
                            <RegistryValue Type="string" Name="TipProvider" Value="Gallio.VisualStudio.Tip.GallioTipProxy, !(bind.assemblyFullName.Gallio.VisualStudio.Tip100.Proxy.dll)"/>
                            <RegistryValue Type="string" Name="ServiceType" Value="Gallio.VisualStudio.Tip.SGallioTestService, !(bind.assemblyFullName.Gallio.VisualStudio.Tip100.Proxy.dll)"/>
                            <RegistryKey Key="Extensions">
                                <RegistryValue Type="integer" Name=".dll" Value="101"/>
                                <RegistryValue Type="integer" Name=".exe" Value="101"/>
                            </RegistryKey>
                        </RegistryKey>
                    </Component>
<?endif?>
                </Directory>
<?endif?>
            </Directory>
        </DirectoryRef>

<?ifdef FEATURE_VISUALSTUDIO_90?>
        <Feature Id="feat_Gallio.VisualStudio.VS90" Title="Visual Studio 2008 Add-In" Level="0" Description="Installs the pre-requisite packages for Visual Studio 2008 integration features." AllowAdvertise="no">
            <Condition Level="1">VS90DEVENV</Condition>

            <ComponentRef Id="Gallio.VisualStudio.Interop.dll"/>
            <ComponentRef Id="Gallio.VisualStudio.Shell.dll"/>
            <ComponentRef Id="Gallio.VisualStudio.Shell.VS90.Registry"/>
            
<?ifdef FEATURE_VISUALSTUDIO_TIP_90 ?>
            <Feature Id="feat_Gallio.VisualStudio.Tip.VS90" Title="Visual Studio Team System Test Runner" Level="1" Description="Test integration provider for Visual Studio Team System" AllowAdvertise="no">
                <ComponentRef Id="Gallio.VisualStudio.Tip90.dll"/>
                <ComponentRef Id="Gallio.VisualStudio.Tip90.Proxy.dll"/>
                <ComponentRef Id="Gallio.VisualStudio.Tip90.Registry"/>
            </Feature>
<?endif?>
                
<?ifdef FEATURE_VISUALSTUDIO_SAIL ?>
            <Feature Id="feat_Gallio.VisualStudio.Sail.VS90" Title="Sail" Level="2" Description="Simple test runner add-in for Visual Studio (Experimental!)" AllowAdvertise="no">
                <ComponentRef Id="Gallio.VisualStudio.Sail.dll"/>
                <!--
                <ComponentRef Id="Gallio.VisualStudio.Sail.VS90.Registry"/>
                -->
            </Feature>
<?endif?>
        </Feature>
<?endif?>

<?ifdef FEATURE_VISUALSTUDIO_100?>
        <Feature Id="feat_Gallio.VisualStudio.VS100" Title="Visual Studio 2010 Add-In (Beta)" Level="0" Description="Installs the pre-requisite packages for Visual Studio 2010 integration features." AllowAdvertise="no">
            <Condition Level="1">VS100DEVENV</Condition>

            <ComponentRef Id="Gallio.VisualStudio.Interop.dll"/>
            <ComponentRef Id="Gallio.VisualStudio.Shell.dll"/>
            <ComponentRef Id="Gallio.VisualStudio.Shell.VS100.Registry"/>
            
<?ifdef FEATURE_VISUALSTUDIO_TIP_100 ?>
            <Feature Id="feat_Gallio.VisualStudio.Tip.VS100" Title="Visual Studio Team System Test Runner" Level="1" Description="Test integration provider for Visual Studio Team System" AllowAdvertise="no">
                <ComponentRef Id="Gallio.VisualStudio.Tip100.dll"/>
                <ComponentRef Id="Gallio.VisualStudio.Tip100.Proxy.dll"/>
                <ComponentRef Id="Gallio.VisualStudio.Tip100.Registry"/>
            </Feature>
<?endif?>
                
<?ifdef FEATURE_VISUALSTUDIO_SAIL ?>
            <Feature Id="feat_Gallio.VisualStudio.Sail.VS100" Title="Sail" Level="2" Description="Simple test runner add-in for Visual Studio (Experimental!)" AllowAdvertise="no">
                <ComponentRef Id="Gallio.VisualStudio.Sail.dll"/>
                <!--
                <ComponentRef Id="Gallio.VisualStudio.Sail.VS100.Registry"/>
                -->
            </Feature>
<?endif?>
        </Feature>
<?endif?>
    </Fragment>
<?endif?>
</Wix>
