<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:vs="http://schemas.microsoft.com/wix/VSExtension"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
    <?include ..\..\Installer\Common.wxi ?>

<?ifdef FEATURE_VISUALSTUDIO ?>
    <Fragment>
        <DirectoryRef Id="binFolder" FileSource="$(var.GallioTargetDir)\bin\">
            <Directory Id="VisualStudio" Name="VisualStudio">

                <Component Id="Gallio.VisualStudio.Shell.dll" Guid="{315C4933-F90B-4337-9D9B-B66153E80B31}" Win64="$(var.Win64Binary)">
                    <File Name="Gallio.VisualStudio.Shell.dll" KeyPath="yes" 
                          Assembly=".net" AssemblyApplication="Gallio.VisualStudio.Shell.dll" />
                    <File Name="Gallio.VisualStudio.Shell.plugin" />
                </Component>
            </Directory>
        </DirectoryRef>

        <Feature Id="feat_Gallio.VisualStudio" Title="Visual Studio Add-Ins" Level="0" Description="Installs the pre-requisite packages for Visual Studio integration features." AllowAdvertise="no">
            <Condition Level="1">VS90DEVENV OR VS100DEVENV</Condition>

<?ifdef FEATURE_VISUALSTUDIO_90 ?>
            <FeatureRef Id='feat_Gallio.VisualStudio.VS90'/>
<?endif?>
<?ifdef FEATURE_VISUALSTUDIO_100 ?>
            <FeatureRef Id='feat_Gallio.VisualStudio.VS100'/>
<?endif?>
        </Feature>
    </Fragment>
<?endif?>
</Wix>
