<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <?include ..\..\Installer\Common.wxi ?>
    
<?ifdef FEATURE_XUNIT_ADAPTER_161 ?>
    <Fragment>
        <DirectoryRef Id="binFolder" FileSource="$(var.GallioTargetDir)\bin\">
            <Directory Id="XunitAdapter.v161" Name="Xunit">
                <Component Id="Gallio.XunitAdapter161" Guid="2fc40e70-ddcd-4d3a-b823-d81a5731b8a8" Win64="$(var.Win64Binary)">
                    <File Name="Gallio.XunitAdapter161.dll" KeyPath="yes" />
                    <File Name="Gallio.XunitAdapter161.plugin" />
                    <File Name="Gallio.XunitAdapter161.pdb" />
                    <File Id="xunit.EULA.txt" Name="EULA.txt" />
                    <File Id="xunit.Readme.txt" Name="Readme.txt" />
                    <File Name="xunit.dll" />
                    <File Name="xunit.dll.tdnet" />
                    <File Name="xunit.xml" />
                    <File Name="xunit.extensions.dll" />
                    <File Name="xunit.extensions.xml" />
                </Component>
		
                <Directory Id="XUnitAdapter161.Resources" Name="Resources">
                    <Component Id="Gallio.XunitAdapter161.Resources" Guid="{4417172C-9A53-413e-B423-7F1B40976083}" Win64="$(var.Win64Binary)">
                        <File Name="xUnit.ico" KeyPath="yes" />
                    </Component>
                </Directory>
            </Directory>
        </DirectoryRef>

        <Feature Id='feat_XunitAdapter161' Title='Xunit Adapter' Level='1' AllowAdvertise="no"
            Description='Enables Gallio to run Xunit tests up to v1.6.1.'>
            <ComponentRef Id="Gallio.XunitAdapter161"/>
            <ComponentRef Id="Gallio.XunitAdapter161.Resources"/>
        </Feature>
    </Fragment>
<?endif?>
</Wix>
