<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="gallio" type="Gallio.Runtime.GallioSectionHandler, Gallio" />
  </configSections>
  
  <gallio>
    <installation>
      <!-- This special property is configured by the Gallio installer package
           to point back to the absolute path of the main Gallio assemblies. -->
      <path><!--PLACEHOLDER--></path>
    </installation>
    
    <runtime>
      <components>
      </components>
    </runtime>
  </gallio>
</configuration>
