<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" />
  </configSections>
  
  <castle>
    <properties>
      <!-- This special property is configured by Gallio installer package
           to point back to where the main Gallio assemblies are installed.
           The path may be absolute or it may be specified relative to
           the location of the Gallio.ReSharperRunner.dll. -->
      <GallioInstallationPath>..\..\..\Gallio\bin<!-- Pre-configured for debugging purposes --></GallioInstallationPath>
    </properties>
    
    <components>
      <component id="ReSharperRunner.UnitTestProviderDelegate"
                 service="Gallio.ReSharperRunner.IUnitTestProviderDelegate, Gallio.ReSharperRunner"
                 type="Gallio.ReSharperRunner.GallioTestProviderDelegate, Gallio.ReSharperRunner" />
    </components>
  </castle>
</configuration>
