body
{
	font-family: Cambria Arial Verdana;
	font-size: 12pt;
}

h1
{
	font-size: 28pt;
}

h2
{
	font-size: 22pt;
	text-decoration: underline;
}

h3
{
	font-size: 20pt;
}

ul
{
	list-style-type: none;
}

/* Progress bars */
.progressBar
{
	position: relative;
	background-color: #DDDDDD;
	border-color: #000000;
}

.progressPassed
{
	position: absolute;
	left: 0px;
	background-color: #008000;
}

.progressFailed
{
	position: absolute;
	background-color: #ff0000;
}

.progressInconclusive
{
	position: absolute;
	background-color: #808000;
}

/* Toggles */
.toggle
{
	cursor: pointer;
}

.toggleAbs
{
	cursor: pointer;
	position: absolute;
	left: -30px;
}

.toggleMargin
{
	margin-left: 20px;
}

/* Styles for test runs, including customized varieties per component kind */
.testRun
{
	margin-top: 12pt;
	font-size: 12pt;
}

.testRunHeading
{
	font-weight:bold;
	font-size:12pt;
	position:relative;
}

.testRunHeading-Level1
{
	font-size:18pt;
}

.testRunHeading-Level2
{
	font-size:16pt;
}

.testRunHeading-Level3
{
	font-size:14pt;
}

.testRunHeading-Level4
{
	font-size:12pt;
}

/* Styles for metadata entries */
.metadata
{
	margin: 5px 0px 5px 0px;
	padding: 5px 5px 5px 5px;
	
	border: solid 1px #505090;
	background: #ececff;
	font-size: 10pt;
}

/* Styles for step runs */
.stepRun
{
	font-size:10pt;
}

.stepRunHeading
{
	font-weight:bold;
	position:relative;
}

/* Styles used for coloring steps with different outcomes */
.outcome
{
	padding-left: 6px;
	border-left-style: solid;
	border-left-width: 3px;
}

.outcome-passed
{
	border-left-color: #008000;
}

.outcome-failed
{
	border-left-color: #ff0000;
}

.outcome-inconclusive
{
	border-left-color: #808000;
}

/* Styles used for execution logs */
.log
{
	margin: 5px 0px 5px 0px;
}

.logAttachment
{
	font-size: 10pt;
}

.logStream
{
	background-color: #f0f0f0;
	border: dotted 1px #505050;
	margin: 5px 0px 5px 0px;
	padding: 5px 5px 5px 5px;
}

.logStreamHeading
{
	font-weight:bold;
	font-size: 12pt;
	text-decoration: underline;
}

.logStreamBody
{
	font-size: 10pt;
	border-style: none;
}

.logStreamSection
{
	margin-top: 12pt;
	margin-bottom: 12pt;
	padding-left: 6px;
	border-left: solid 3px black;
}

.logStreamSectionHeading
{
	font-size: 10pt;
	font-weight: bold;
	text-decoration: underline;
}

/* Styles used for coloring different named streams */
.logStream-Failures
{
	background-color: #ffd8d8;
	border: dotted 1px #905050;
}

.logStream-Warnings
{
	background-color: #ffffc8;
	border: dotted 1px #909050;
}
