<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="gallio" type="Gallio.Runtime.GallioSectionHandler, Gallio" />
  </configSections>

  <runtime>
    <legacyUnhandledExceptionPolicy enabled="1" />
  </runtime>

  <system.runtime.remoting>
    <customErrors mode="off"/>
  </system.runtime.remoting>

  <system.diagnostics>
    <assert assertuienabled="false" />
  </system.diagnostics>

  <gallio>
    <plugin pluginId="Gallio.Utility"
            xmlns="http://www.gallio.org/">
      <traits>
        <name>Gallio Utility Program</name>
      </traits>
    </plugin>
  </gallio>
</configuration>
