<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <?include ..\..\Installer\Common.wxi ?>

<?ifdef FEATURE_NUNIT_ADAPTER_253 ?>
    <Fragment>
        <DirectoryRef Id="NUnit" FileSource="$(var.GallioTargetDir)\bin\NUnit">
          <Directory Id="NUnit.v253" Name="v2.5.3">
            <Component Id="Gallio.NUnitAdapter253" Guid="{156A9E25-863F-4f45-BDE4-D516B22B1244}" Win64="$(var.Win64Binary)">
              <File Id="NUnit.v253.NUnitAdapter253.dll" Name="Gallio.NUnitAdapter253.dll" KeyPath="yes" />
              <File Id="NUnit.v253.NUnitAdapter253.plugin" Name="Gallio.NUnitAdapter253.plugin" />
              <File Id="NUnit.v253.nunit.license.txt" Name="license.txt" />
              <File Id="NUnit.v253.nunit.core.dll" Name="nunit.core.dll" />
              <File Id="NUnit.v253.nunit.core.interfaces.dll" Name="nunit.core.interfaces.dll" />
              <File Id="NUnit.v253.nunit.framework.dll" Name="nunit.framework.dll" />
              <File Id="NUnit.v253.nunit.framework.dll.tdnet" Name="nunit.framework.dll.tdnet" />
              <File Id="NUnit.v253.nunit.framework.xml" Name="nunit.framework.xml" />
              <File Id="NUnit.v253.nunit.util.dll" Name="nunit.util.dll" />
              <File Id="NUnit.v253.nunit.mocks.dll" Name="nunit.mocks.dll" />
              <File Id="NUnit.v253.nunit.Readme.txt" Name="Readme.txt" />
            </Component>

            <Directory Id="NUnit.v253.Addins" Name="addins">
              <Component Id="Gallio.NUnitAdapter253.Addins" Guid="{D3441D43-CF56-47f1-A7B8-4C66338B39D0}" Win64="$(var.Win64Binary)">
                <File Id="NUnit.v253.AddinsReadme.txt" Name="NUnit Addins Readme.txt" KeyPath="yes" />
              </Component>
            </Directory>
	    
            <Directory Id="NUnit.v253.Resources" Name="Resources">
              <Component Id="Gallio.NUnitAdapter253.Resources" Guid="{2E07E5B6-E699-4794-828F-2C454DDF2BD1}" Win64="$(var.Win64Binary)">
                <File Id="NUnit.v253.NUnit.ico" Name="NUnit.ico" KeyPath="yes" />
              </Component>
            </Directory>
          </Directory>
        </DirectoryRef>

        <Feature Id='feat_NUnitAdapter253' Title='v2.5.3' Level='1' AllowAdvertise="no"
            Description='Enables Gallio to run NUnit v2.5.3 tests.'>
          <ComponentRef Id="Gallio.NUnitAdapter253"/>
          <ComponentRef Id="Gallio.NUnitAdapter253.Addins"/>
          <ComponentRef Id="Gallio.NUnitAdapter253.Resources"/>
        </Feature>
    </Fragment>
<?endif?>
</Wix>
