<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="binFolder" FileSource="$(var.GallioTargetDir)\bin\">
            <Directory Id="NUnit" Name="NUnit" />
        </DirectoryRef>

        <Feature Id='feat_NUnitAdapter' Title='NUnit Adapter' Level='1' AllowAdvertise="no"
            Description='Installs the NUnit adapters.'>
        </Feature>
    </Fragment>
</Wix>
