<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
    <Fragment>
        <!-- Locate the R# InstallDir. -->
        <Property Id="RESHARPER_V31_VS8_INSTALLDIR"> 
            <RegistrySearch Id='JetBrainsReSharperRegistry1b' Type="raw"
                Root='HKLM' Key='Software\JetBrains\ReSharper\v3.1\vs8.0' Name='InstallDir' />
            <RegistrySearch Id='JetBrainsReSharperRegistry1a' Type="raw"
                Root='HKCU' Key='Software\JetBrains\ReSharper\v3.1\vs8.0' Name='InstallDir' />
        </Property>        

        <Property Id="RESHARPER_V31_VS9_INSTALLDIR">
            <RegistrySearch Id="JetBrainsReSharperRegistry2a" Type="raw"
                Root='HKLM' Key="Software\JetBrains\ReSharper\v3.1\vs9.0" Name="InstallDir" />
            <RegistrySearch Id="JetBrainsReSharperRegistry2b" Type="raw"
                Root='HKCU' Key="Software\JetBrains\ReSharper\v3.1\vs9.0" Name="InstallDir" />
        </Property>

        <DirectoryRef Id="TARGETDIR">
            <Directory Id="RESHARPER_V31_VS8_INSTALLDIR" Name="ReSharper_V31_VS80">
                <Directory Id="JetBrains.ReSharper.V31.VS8.PluginsDir" Name="Plugins">
                    <Directory Id="JetBrains.Resharper.V31.VS8.GallioDir" Name="Gallio">
                        <Component Id="Gallio.Loader.V31.VS8.dll" Guid="{4E2A87C0-2AE7-47d6-A4B1-105677B5376F}">
                            <File Id="Gallio.Loader.V31.VS8.dll" Source="$(var.GallioTargetDir)\bin\Gallio.Loader.dll" KeyPath="yes" />
                        </Component>
                        <Component Id="Gallio.ReSharperRunner.V31.VS8.dll" Guid="{59FBA5C5-D91C-4e02-86B9-FE6E2FF45911}">
                            <File Id="Gallio.ReSharperRunner.V31.VS8.dll" Source="$(var.GallioTargetDir)\bin\ReSharper\v3.1\Gallio.ReSharperRunner31.dll" KeyPath="yes" />
                            <File Id="Gallio.ReSharperRunner.V31.VS8.dll.config" Source="$(var.GallioTargetDir)\bin\ReSharper\v3.1\Gallio.ReSharperRunner31.dll.config" />
                            <util:XmlFile Id="FixXmlSettings.V31.VS8" File="[#Gallio.ReSharperRunner.V31.VS8.dll.config]" Action="setValue" 
                                          ElementPath="//configuration/gallio/installation/path" Value="[binFolder]" />
                        </Component>
                    </Directory>
                </Directory>
            </Directory>
            
            <Directory Id="RESHARPER_V31_VS9_INSTALLDIR" Name="ReSharper_V31_VS90">
                <Directory Id="JetBrains.ReSharper.V31.VS9.PluginsDir" Name="Plugins">
                    <Directory Id="JetBrains.Resharper.V31.VS9.GallioDir" Name="Gallio">
                        <Component Id="Gallio.Loader.V31.VS9.dll" Guid="{6F303004-6F9A-44b1-AA8B-B1A03DB4E3CC}">
                            <File Id="Gallio.Loader.V31.VS9.dll" Source="$(var.GallioTargetDir)\bin\Gallio.Loader.dll" KeyPath="yes" />
                        </Component>
                        <Component Id="Gallio.ReSharperRunner.V31.VS9.dll" Guid="{758B9399-7D4E-4b5f-BCEB-52DED96C4C14}">
                            <File Id="Gallio.ReSharperRunner.V31.VS9.dll" Source="$(var.GallioTargetDir)\bin\ReSharper\v3.1\Gallio.ReSharperRunner31.dll" KeyPath="yes" />
                            <File Id="Gallio.ReSharperRunner.V31.VS9.dll.config" Source="$(var.GallioTargetDir)\bin\ReSharper\v3.1\Gallio.ReSharperRunner31.dll.config" />
                            <util:XmlFile Id="FixXmlSettings.V31.VS9" File="[#Gallio.ReSharperRunner.V31.VS9.dll.config]" Action="setValue" 
                                          ElementPath="//configuration/gallio/installation/path" Value="[binFolder]" />
                        </Component>
                    </Directory>
                </Directory>
            </Directory>
        </DirectoryRef>

        <Feature Id="feat_Gallio.ReSharper.V31" Title="ReSharper v3.1 Plug-in" Level="2"
                 Description="Installs the ReSharper v3.1 plug-in.">
            <Condition Level="1">
                RESHARPER_V31_VS8_INSTALLDIR or RESHARPER_V31_VS9_INSTALLDIR
            </Condition>

            <Feature Id="feat_Gallio.ReSharper.V31.VS8" Title="Visual Studio 2005" Level="0">
                <Condition Level="1">RESHARPER_V31_VS8_INSTALLDIR</Condition>
                <ComponentRef Id="Gallio.ReSharperRunner.V31.VS8.dll"/>
                <ComponentRef Id="Gallio.Loader.V31.VS8.dll"/>
            </Feature>
 
            <Feature Id="feat_Gallio.ReSharper.V31.VS9" Title="Visual Studio 2008" Level="0">
                <Condition Level="1">RESHARPER_V31_VS9_INSTALLDIR</Condition>
                <ComponentRef Id="Gallio.ReSharperRunner.V31.VS9.dll"/>
                <ComponentRef Id="Gallio.Loader.V31.VS9.dll"/>
            </Feature>
        </Feature>
    </Fragment>
</Wix>
