<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
    <Fragment>
        <!-- Locate the R# InstallDir. -->
        <Property Id="RESHARPER_V40_VS8_INSTALLDIR"> 
            <RegistrySearch Id='JetBrainsReSharperRegistryLM.V40.VS8' Type="raw" Win64="no"
                Root='HKLM' Key='Software\JetBrains\ReSharper\v4.0\vs8.0' Name='InstallDir' />
            <RegistrySearch Id='JetBrainsReSharperRegistryCU.V40.VS8' Type="raw" Win64="no"
                Root='HKCU' Key='Software\JetBrains\ReSharper\v4.0\vs8.0' Name='InstallDir' />
        </Property>

        <Property Id="RESHARPER_V40_VS9_INSTALLDIR">
            <RegistrySearch Id="JetBrainsReSharperRegistryLM.V40.VS9" Type="raw" Win64="no"
                Root='HKLM' Key="Software\JetBrains\ReSharper\v4.0\vs9.0" Name="InstallDir" />
            <RegistrySearch Id="JetBrainsReSharperRegistryCU.V40.VS9" Type="raw" Win64="no"
                Root='HKCU' Key="Software\JetBrains\ReSharper\v4.0\vs9.0" Name="InstallDir" />
        </Property>

        <DirectoryRef Id="TARGETDIR">
            <Directory Id="RESHARPER_V40_VS8_INSTALLDIR" Name="ReSharper_V40_VS80">
                <Directory Id="JetBrains.ReSharper.V40.VS8.PluginsDir" Name="Plugins">
                    <Directory Id="JetBrains.Resharper.V40.VS8.GallioDir" Name="Gallio">
                        <Component Id="Gallio.ReSharperRunner.V40.VS8.dll" Guid="{9bad38f6-0f32-4719-abcb-615750a3fb1f}" Win64="no">
                            <File Id="Gallio.ReSharperRunner.V40.VS8.dll" Source="$(var.GallioTargetDir)\bin\ReSharper\v4.0\Gallio.ReSharperRunner40.dll" KeyPath="yes" />
                        </Component>
                    </Directory>
                </Directory>
            </Directory>
            
            <Directory Id="RESHARPER_V40_VS9_INSTALLDIR" Name="ReSharper_V40_VS90">
                <Directory Id="JetBrains.ReSharper.V40.VS9.PluginsDir" Name="Plugins">
                    <Directory Id="JetBrains.Resharper.V40.VS9.GallioDir" Name="Gallio">
                        <Component Id="Gallio.ReSharperRunner.V40.VS9.dll" Guid="{8bff1a3a-4dc6-41d9-9768-571c8ef7de02}" Win64="no">
                            <File Id="Gallio.ReSharperRunner.V40.VS9.dll" Source="$(var.GallioTargetDir)\bin\ReSharper\v4.0\Gallio.ReSharperRunner40.dll" KeyPath="yes" />
                        </Component>
                    </Directory>
                </Directory>
            </Directory>
        </DirectoryRef>

        <Feature Id="feat_Gallio.ReSharper.V40" Title="ReSharper v4.0 Plug-in" Level="0" AllowAdvertise="no"
                 Description="Installs the ReSharper v4.0 plug-in.">
            <Condition Level="1">
                RESHARPER_V40_VS8_INSTALLDIR or RESHARPER_V40_VS9_INSTALLDIR
            </Condition>

            <Feature Id="feat_Gallio.ReSharper.V40.VS8" Title="Visual Studio 2005" Level="0" AllowAdvertise="no">
                <Condition Level="1">RESHARPER_V40_VS8_INSTALLDIR</Condition>
                <ComponentRef Id="Gallio.ReSharperRunner.V40.VS8.dll"/>
            </Feature>
 
            <Feature Id="feat_Gallio.ReSharper.V40.VS9" Title="Visual Studio 2008" Level="0" AllowAdvertise="no">
                <Condition Level="1">RESHARPER_V40_VS9_INSTALLDIR</Condition>
                <ComponentRef Id="Gallio.ReSharperRunner.V40.VS9.dll"/>
            </Feature>
        </Feature>
    </Fragment>
</Wix>
